.alert {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert h3 {
  margin-top: 0;
}

.alert .alert-msg-container {
  padding-left: 36px;
}

.alert .glyphicon {
  top: 3px;
  margin-right: 5px;
}

#ss-alert-container-fixed .alert {
  margin-top: 30px;
  margin-bottom: 0;
}
.alert-msg {
  word-break: break-all;
}