.thumbnail:hover {
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}

/* App logo image */

.thumbnail img.ss-image-preloader {
  display: none;
}

.thumbnail .ss-app-image-container {
  position: relative;
  margin: 2.5%;
  width: 95%;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/app_image_placeholder.png");
  background-position: center center;
}

/* Button */

.thumbnail .ss-app-image-container .btn {
  opacity: .7;
  color: white;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  text-shadow: 0px 0px 10px rgba(80, 80, 80, 1);
  bottom: 0;
  margin: 5%;
  right: 0;
}
.thumbnail .ss-app-image-container .btn:hover {
  opacity: 1;
}
.thumbnail .ss-app-image-container .btn span {
  pointer-events: none;
}

.thumbnail:hover .ss-app-image-container .btn,
.thumbnail .ss-app-image-container .btn.ss-force-hovered-style {
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  color: white;
  background-color: #428bca;
  border-color: #357ebd;
  text-shadow: none;
}

.thumbnail .ss-app-image-container .ss-app-deploy-btn-label:empty::before {
  content: "Deploy";
}


/* App name and version defaults */

.thumbnail a .ss-app-name:empty::before {
  content: "Application";
}

.thumbnail a.ss-app-name-container {
  color: inherit;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

.thumbnail .ss-app-name {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
}

.thumbnail a:hover.ss-app-name-container {
  color: inherit;
  text-decoration: inherit;
}

.thumbnail a.ss-app-name-container .glyphicon {
  opacity: 0.1;
}

.thumbnail a:hover.ss-app-name-container .glyphicon {
  opacity: 1;
}

.thumbnail .caption hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* App version defaults */

.thumbnail .ss-app-version-number-container::before {
  content: "v";
}

.thumbnail .ss-app-version-number-container .ss-app-version-number:empty::before {
  content: "0";
}

.thumbnail .ss-app-version-number-container {
  color: #777;
  font-weight: normal;
  padding-top: 4px;
}

.thumbnail .caption .h4 {
  margin-top: 5px;
}


/* Metadata Labels and defaults */

.thumbnail .ss-app-price {
  /* Hide price for the moment */
  display: none;
}

.thumbnail dt.ss-app-price:empty::before {
  content: "Price";
}

.thumbnail dd.ss-app-price:empty::before {
  content: "free";
  color: white;
  background-color: #5cb85c;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail dt.ss-app-publisher:empty::before {
  content: "Publisher";
}

.thumbnail dd.ss-app-publisher:empty::before {
  content: "(unkown)";
}

.thumbnail dt.ss-app-description:empty::before {
  content: "Description";
}

.thumbnail dd.ss-app-description:empty::before {
  content: "(unkown)";
}

.thumbnail dt.ss-app-publication-date:empty::before {
  content: "Date";
}

.thumbnail dd.ss-app-publication-date:empty::before {
  content: "(unkown)";
}


/* Application metadata box size */

.thumbnail div.caption dl {
  margin: 0;
}

.thumbnail div.caption dt {
  width: 80px;
  text-align: left;
  clear: left;
  float: left;
}

.thumbnail div.caption dd {
  margin-left: 90px;
  text-overflow:ellipsis;
  overflow: hidden;
}

.thumbnail .ss-app-metadata-container {
  overflow: hidden;
  width: 100%;
  height: 80px;
}

@media (max-width: 767px) {
  .thumbnail .ss-app-metadata-container {
    height: auto;
  }
}

/* Decorator labels */

.ss-app-updated.ss-app-image-container::before {
  content: "Updated";
  background-color: #3071a9;
  color: white;
  text-align: center;
  position: absolute;
  width: 180px;
  font-size: 16px;
  margin-top: 18px;
  margin-left: -50px;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}

.ss-app-new.ss-app-image-container::before {
  content: "New";
  background-color: #5cb85c;
  color: white;
  text-align: center;
  position: absolute;
  width: 180px;
  font-size: 16px;
  margin-top: 18px;
  margin-left: -50px;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}
