/* Overloading bootstrap theme */
.panel-default>.panel-heading {
    color: #333;
    background-color: #cecece;
    border-color: #ddd
}

body.ss-error-page #ss-content {
  display: none;
}

#ss-content {
  padding-top: 30px;
}

code {
  color: #4499ce;
}

/* NOTE: Prevent unexplicit transparent backgrounds, because it doesn't play well
         in some unexpected cases (e.g. with bootstro.js) */
#ss-content,
.panel-group,
.ss-app-thumbnail,
.modal-dialog,
.modal-dialog > div,
.modal-dialog > form {
    background: white;
}

.alert a,
.ss-validation-help-hint a {
  color: inherit;
  font-weight: 600;
}

tr.text-info a,
tr.text-success a,
tr.text-warning a,
tr.text-danger a {
  font-weight: inherit;
}


.ss-alert-popover-info code,
.text-info a,
.ss-alert-popover-info a,
.alert-info code {
  color: #31708f;
  background-color: transparent;
}
.ss-alert-popover-success code,
.ss-alert-popover-success a,
.text-success a,
.has-success code,
.has-success .ss-validation-help-hint a,
.alert-success code {
  color: #3c763d;
  background-color: transparent;
}
.ss-alert-popover-warning code,
.ss-alert-popover-warning a,
.text-warning a,
.has-warning code,
.has-warning .ss-validation-help-hint a,
.alert-warning code {
  color: #8a6d3b;
  background-color: transparent;
}
.ss-alert-popover-error code,
.ss-alert-popover-error a,
.text-danger a,
.has-error code,
.has-error .ss-validation-help-hint a,
.alert-danger code {
  color: #a94442;
  background-color: transparent;
}

.text-muted {
  font-weight:  300;
}

a[target='_blank']::after {
  font-family: 'Glyphicons Halflings';
  content: "\e095";
  color: lightgray;
  color: rgba(0, 0, 0, .2);
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[target='_blank']:empty::after {
  content: "";
}

a[target='_blank']:hover::after {
  color: rgb(35, 82, 124);
  color: rgba(35, 82, 124, 0.6);
}

.table.ss-table-without-headers > tbody > tr:first-of-type > td {
  border: none;
}

.ss-table-cell-help-hint:hover {
  color: rgb(110,110,110);
  color: rgba(0,0,0,.4);
}

dl.ss-footer-versions-popover {
  margin-bottom: 0;
}
.ss-footer-versions-popover dt {
  width: 90px;
}
.ss-footer-versions-popover dd {
  margin-left: 100px;
}

.ss-form-group-with-validation .form-control-feedback {
  top: 0;     /* NOTE: Input validation icon top must be adjusted. */
}
.ss-table-cell-boolean-editable .ss-form-group-with-validation .form-control-feedback {
  top: -6px;  /* NOTE: Input validation icon top must be adjusted for checkboxes. */
}
.table .ss-form-group-with-validation .form-control-feedback {
  z-index: 0; /* NOTE: Otherwise it goes on top of popover menus.
                       Only on tables, because in modal dialogs original z-index is required. */
}
.ss-validation-help-hint {
  font-weight: 300;
}

/* All popovers (parameter help hints and dynamic help hints) */
div.popover:not(.ss-alert-popover) {
  /* Override text color of the popovers, to prevent them using the color of the
     target element. */
  color: black;
}
div.popover:not(.ss-alert-popover) code {
  /* Override text and background color of the <code> tags in popovers, to prevent
     that they look like clickable links. */
  color: black;
  background-color: #eee;
}

/* Dynamic help hints */

.popover.ss-alert-popover-info {
  background-color:     #d9edf7;  /* From Bootstrap's .bg-info */
}
.popover.bottom.ss-alert-popover-info>.arrow:after {
  border-bottom-color:  #d9edf7;  /* From Bootstrap's .bg-info */
}
.popover.top.ss-alert-popover-info>.arrow:after {
  border-top-color:     #d9edf7;  /* From Bootstrap's .bg-info */
}
.popover.left.ss-alert-popover-info>.arrow:after {
  border-left-color:    #d9edf7;  /* From Bootstrap's .bg-info */
}
.popover.right.ss-alert-popover-info>.arrow:after {
  border-right-color:   #d9edf7;  /* From Bootstrap's .bg-info */
}
.popover.ss-alert-popover-success {
  background-color:     #dff0d8;  /* From Bootstrap's .bg-success */
}
.popover.bottom.ss-alert-popover-success>.arrow:after {
  border-bottom-color:  #dff0d8;  /* From Bootstrap's .bg-success */
}
.popover.top.ss-alert-popover-success>.arrow:after {
  border-top-color:     #dff0d8;  /* From Bootstrap's .bg-success */
}
.popover.left.ss-alert-popover-success>.arrow:after {
  border-left-color:    #dff0d8;  /* From Bootstrap's .bg-success */
}
.popover.right.ss-alert-popover-success>.arrow:after {
  border-right-color:   #dff0d8;  /* From Bootstrap's .bg-success */
}
.popover.ss-alert-popover-warning {
  background-color:     #fcf8e3;  /* From Bootstrap's .bg-warning */
}
.popover.bottom.ss-alert-popover-warning>.arrow:after {
  border-bottom-color:  #fcf8e3;  /* From Bootstrap's .bg-warning */
}
.popover.top.ss-alert-popover-warning>.arrow:after {
  border-top-color:     #fcf8e3;  /* From Bootstrap's .bg-warning */
}
.popover.left.ss-alert-popover-warning>.arrow:after {
  border-left-color:    #fcf8e3;  /* From Bootstrap's .bg-warning */
}
.popover.right.ss-alert-popover-warning>.arrow:after {
  border-right-color:   #fcf8e3;  /* From Bootstrap's .bg-warning */
}
.popover.ss-alert-popover-error {
  background-color:     #f2dede;  /* From Bootstrap's .bg-danger */
}
.popover.bottom.ss-alert-popover-error>.arrow:after {
  border-bottom-color:  #f2dede;  /* From Bootstrap's .bg-danger */
}
.popover.top.ss-alert-popover-error>.arrow:after {
  border-top-color:     #f2dede;  /* From Bootstrap's .bg-danger */
}
.popover.left.ss-alert-popover-error>.arrow:after {
  border-left-color:    #f2dede;  /* From Bootstrap's .bg-danger */
}
.popover.right.ss-alert-popover-error>.arrow:after {
  border-right-color:   #f2dede;  /* From Bootstrap's .bg-danger */
}

.ss-alert-popover .popover-content::before {
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 0;
  padding-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ss-alert-popover-info .popover-content::before {
  content: "\e086 "; /* .glyphicon-info-sign */
}
.ss-alert-popover-success .popover-content::before {
  content: "\e013 "; /* .glyphicon-ok */
}
.ss-alert-popover-warning .popover-content::before {
  content: "\e209 "; /* .glyphicon-alert */
}
.ss-alert-popover-error .popover-content::before {
  content: "\e101 "; /* .glyphicon-exclamation-sign */
}

/* In Run Deployment dialog */
#ssh-access-enabled + .help-block {
  max-width: 204px;
}
