/* Overloading bootstrap theme */
.panel-default>.panel-heading {
    color: #333;
    background-color: #cecece;
    border-color: #ddd
}

body.ss-error-page #ss-content {
  display: none;
}

#ss-content {
  padding-top: 30px;
}

code {
  color: #4499ce;
}

.alert a,
.ss-validation-help-hint a {
  color: inherit;
  font-weight: 600;
}

.alert-info code {
  color: #31708f;
  background-color: transparent;
}
.has-success code,
.has-success .ss-validation-help-hint a,
.alert-success code {
  color: #3c763d;
  background-color: transparent;
}
.has-warning code,
.has-warning .ss-validation-help-hint a,
.alert-warning code {
  color: #8a6d3b;
  background-color: transparent;
}
.has-error code,
.has-error .ss-validation-help-hint a,
.alert-danger code {
  color: #a94442;
  background-color: transparent;
}

.text-muted {
  font-weight:  300;
}

a[target='_blank']::after {
  font-family: 'Glyphicons Halflings';
  content: "\e095";
  color: lightgray;
  color: rgba(0, 0, 0, .2);
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[target='_blank']:empty::after {
  content: "";
}

a[target='_blank']:hover::after {
  color: rgb(35, 82, 124);
  color: rgba(35, 82, 124, 0.6);
}

.table.ss-table-without-headers > tbody > tr:first-of-type > td {
  border: none;
}

.ss-table-cell-help-hint:hover {
  color: rgb(110,110,110);
  color: rgba(0,0,0,.4);
}

dl.ss-footer-versions-popover {
  margin-bottom: 0;
}
.ss-footer-versions-popover dt {
  width: 90px;
}
.ss-footer-versions-popover dd {
  margin-left: 100px;
}

.ss-form-group-with-validation .form-control-feedback {
  top: 0;     /* NOTE: Input validation icon top must be adjusted. */
}
.ss-table-cell-boolean-editable .ss-form-group-with-validation .form-control-feedback {
  top: -6px;  /* NOTE: Input validation icon top must be adjusted for checkboxes. */
}
.table .ss-form-group-with-validation .form-control-feedback {
  z-index: 0; /* NOTE: Otherwise it goes on top of popover menus.
                       Only on tables, because in modal dialogs original z-index is required. */
}
.ss-validation-help-hint {
  font-weight: 300;
}

div.popover[role=tooltip] {
  /* Override text color of the popovers, to prevent them using the color of the target element. */
  color: black;
}

/* Dynamic help hints */
.popover.ss-dynamic-help-hint {
  background-color: #d9edf7; /* Froms Bootstrap's .bg-info*/
}
.popover.ss-dynamic-help-hint>.arrow:after {
  border-bottom-color: #d9edf7; /* Froms Bootstrap's .bg-info*/
}
.popover-content.bg-info.text-info::before {
  font-family: 'Glyphicons Halflings';
  content: "\e086 "; /* .glyphicon-info-sign */
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 0;
  padding-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
