/*
.metrics table {
    table-layout: auto;
}

.metrics .row
{
    max-height: 230px;
    margin-top: 10px;
    overflow: hidden;
}

.metrics .row .col1, .metrics .row .col2, .metrics .row .col3
{
    display: inline-block;
    overflow: hidden;
}


.metrics .row .col3
{
    height: 215px;
    font-family: Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    z-index: 10;
    color: #43474b;
}

.metrics .row .col3 table
{
    border-spacing: 0;
    margin-top: 5px;
    background-color: transparent;
}

.metrics .row .col3 table tr
{
    background-color: transparent;
}

.metrics .row .col3 table td {
    border: 0;
    background-color: transparent;
    height: 20px;
}

#flotTip
{
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
    border: 2px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
*/

/*.while-processing:empty {*/
/*.ss-metering {
    background: url('/images/spinner.gif') 10px no-repeat;
}
*/
.ss-usage-gauge {
    background-color: white;
    display: inline-block;
    overflow: hidden;
    width: 184px;
    height: 148px;
}
