.ss-usage-gauge {
    margin: 10px;
    background-color: white;
    display: inline-block;
    overflow: hidden;
    width: 184px;
    height: 148px;
    cursor: pointer;
    opacity: 0.8;
}
.ss-usage-gauge:hover:not(.ss-selected-gauge) {
    opacity: 0.9;
    -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
       -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
            box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}

.ss-selected-gauge {
    background-color: #fafafa;
    opacity: 1;
    -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
       -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
            box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}