.ss-usage-gauge {
    margin: 10px;
    background-color: white;
    display: inline-block;
    overflow: hidden;
    width: 184px;
    height: 148px;
    cursor: pointer;
    opacity: 0.8;
}
.ss-usage-gauge:hover:not(.ss-selected-gauge) {
    opacity: 0.9;
    outline: 4px solid #eeeded;
}

.ss-selected-gauge {
    background-color: #fefefe;
    opacity: 1;
    outline: 4px solid #aaa;
}