.jumbotron {
  background-color: #262626;
  color: white;
  min-height: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.jumbotron .ss-header {
  color: #50a7de;
  font-size: 50px;
}

.jumbotron .ss-header .row {
  margin-left: 0;
  margin-right: 0;
}

.jumbotron .ss-header .row > div {
  padding-left: 0;
  padding-right: 10px;
}

.jumbotron .ss-header .glyphicon {
  font-size: 40px;
}

.jumbotron .ss-header .ss-header-title-icon-col {
  width: 60px;
  line-height: 1.2;
}

.jumbotron .ss-header .ss-header-title {
  line-height: 1.2;
}

.jumbotron .ss-header .ss-header-subtitle {
  color: white;
  color: #ddd;
  font-size: 22px;
  margin-bottom: 5px;
}

.jumbotron .ss-header .ss-header-second-subtitle {
  color: gray;
  color: #888;
  font-size: 16px;
  margin-bottom: 10px;
}


/* Header Error Status code hidden if not error page */

.jumbotron .ss-header .ss-header-error-status-code {
  display: none;
}


/* Header icon defaults */

.jumbotron .ss-header .ss-header-icon-error {
  display: none;
}

.jumbotron .ss-header .ss-header-icon {
  display:  inline-block;
}

/* Right-hand header image */

#header img.ss-image-preloader {
  display: none;
}

#header .ss-header-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/header_image_placeholder.png");
  background-position: right center;
}

#header .ss-header-image-col {
  margin-top: 5px;
  margin-bottom: 5px;
  left: 35px;
  padding-left: 0;
  padding-right: 0;
}

/* Big computer screen (lg) */
/*
@media (min-width: 1200px) {
}
*/

/* Small computer screen (md) */
@media (min-width: 992px) and (max-width: 1199px) {

  #header .ss-header-image-col {
    left: 20px;
  }

  #header .ss-header-image-container {
    padding-bottom: 55%;
  }
}

/* Tablet (sm) */
@media (min-width: 768px) and (max-width: 991px) {

  #header .ss-header-image-col {
    left: 0;
  }

  #header .ss-header-image-container {
    padding-bottom: 75%;
  }

}

/* Phone (xs) */
@media (max-width: 767px) {

  #header .ss-header-image-col {
    left: 28px;
  }

  #header .ss-header-image-container {
    padding-bottom: 40%;
  }

}

