#ss-image-chooser-dialog .modal-body,
#ss-copy-module-dialog .modal-body {
    padding: 0;
}

#ss-copy-module-dialog .ss-copy-module-dialog-form-container {
    padding: 15px;
}

#ss-module-copy-target-project::after {
    content: "/";
}

.ss-dialog-footnote {
    margin-top: 6px;
    font-style: italic;
}

.ss-iframe-container {
  overflow: hidden;
}

.ss-iframe-container iframe {
  position: relative;
  overflow: hidden;
  display: block;
  height: 400px;
  width: 100%;
}

.ss-iframe-container .ss-shadow {
  position: relative;
  width:100%;
  z-index:99999;
  -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,.6);
  -moz-box-shadow:    0 0 30px 5px rgba(0,0,0,.6);
  box-shadow:         0 0 30px 5px rgba(0,0,0,.6);
}

.ss-start-tour-dialog-title {
  padding-top: 15px;
}
.ss-start-tour-dialog-text-body {
  padding: 15px;
}
.ss-start-tour-dialog-text-body code {
  background: transparent;
  color: inherit;
}
.ss-start-tour-dialog-buttons-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ss-take-tour-btn-container {
  padding-bottom: 35px;
}
