body.ss-error-page #ss-secondary-menubar-placeholder,
body.ss-error-page #ss-secondary-menubar-container {
  display: none;
}

#ss-secondary-menubar-placeholder {
  display: none;
  height: 30px;
  width: 100%;
  background-color: transparent;
  padding: 0;
}

#ss-secondary-menubar-container {
  position: relative;
  z-index: 1025;
  opacity: 0.98;
  width: 100%;
  height: 30px;
  min-height: 30px;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #353535;
}

#ss-secondary-menubar-container.affix {
  position: fixed;
}

/* Breadcrumbs */

#ss-breadcrumb-container > .breadcrumb {
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

#ss-breadcrumb-container > .breadcrumb > li,
#ss-breadcrumb-container > .breadcrumb a {
  color: rgb(80,167,222);
}

#ss-breadcrumb-container > .breadcrumb > li + li:before {
  padding: 0 2px;
  color: #ccc;
  content: "\00a0/\00a0";
}


#ss-breadcrumb-container > .breadcrumb > li span.glyphicon + span::before {
    padding-left: 5px;
    content: "";
}

#ss-breadcrumb-container > .breadcrumb > li span.glyphicon + span:empty::before {
    padding-left: 0px;
    content: "";
}

#ss-breadcrumb-container > .breadcrumb > li.disabled > a,
#ss-breadcrumb-container > .breadcrumb > li.disabled > a:hover,
#ss-breadcrumb-container > .breadcrumb > li:last-child {
  color: rgba(80,167,222,.6);
  background-color: transparent;
  text-decoration: none;
  cursor: default;
}

/* Secondary button group */

.ss-secondary-btn {
  background-color: transparent;
  color: #50a7de;
  border: none;
  font-size: 14px;
  margin-top: -2px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.ss-secondary-btn:hover:not(.ss-action-disabled),
.ss-secondary-btn:focus:not(.ss-action-disabled) {
  color: #50a7de;
  background-color: #252525;
}

.ss-secondary-btn:active,
.ss-secondary-btn.active,
.open > .dropdown-toggle.ss-secondary-btn {
  color: #50a7de;
  background-color: #151515;
}

.dropdown-menu.ss-secondary-menu-extra-actions-container > li > a {
  color: #50a7de;
  background-color: #353535;
}

.dropdown-menu.ss-secondary-menu-extra-actions-container {
  background-color: #353535;
}

.dropdown-menu.ss-secondary-menu-extra-actions-container > li > a:hover,
.dropdown-menu.ss-secondary-menu-extra-actions-container > li > a:focus {
  color: #50a7de;
  text-decoration: none;
  background-color: #252525;
  cursor: pointer;
}

.ss-secondary-menu-main-action span.glyphicon:nth-of-type(1),
.ss-secondary-menu-extra-action span.glyphicon:nth-of-type(1) {
  padding-right: 5px;
}

.dropdown-menu.ss-secondary-menu-extra-actions-container > li > a.ss-action-disabled,
.dropdown-menu.ss-secondary-menu-extra-actions-container > li > a.ss-action-disabled:hover,
.ss-secondary-menu-main-action.ss-action-disabled,
.ss-secondary-menu-main-action.ss-action-disabled:active {
  color: #777;
  background-color: transparent;
  opacity: .8;
  cursor: default;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
