/*
Resolve conflicts with semantic-ui
*/
body {
    padding-top: 50px !important;
}
.footer {
    position: unset !important;
}

.ui.modal {
    padding-top: 100px !important;
}
.modal {
    bottom:unset !important;
}

#modal-login-id {
    padding-top: 0px !important;
    z-index: 9999;
}