/*
Resolve conflicts with semantic-ui
*/
body {
    padding-top: 50px !important;
}
.footer {
    position: unset !important;
}

.ui.modal {
    padding-top: 100px !important;
}
.modal {
    bottom:unset !important;
}
