/*
Resolve conflicts with semantic-ui
*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding-top: 50px !important;
}
.footer {
    z-index: 2;
    position: unset !important;
}

.ui.modal {
    padding-top: 100px !important;
}
.modal {
    bottom:unset !important;
}

#modal-login-id {
    padding-top: 0px !important;
    z-index: 9999 !important;
    position: unset !important;
}

#modal-signup-id {
    padding-top: 0px !important;
    z-index: 9999 !important;
    position: unset !important;
}

.ui {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
