td.ss-table-cell-boolean > input[type="checkbox"],
td.ss-table-cell-boolean > input[type="checkbox"][disabled] {
  cursor: default;
}

.ss-table th:empty {
  width:  1px;
}

.ss-table-cell-map dl {
  margin: 0;
}

.ss-table-cell-map dt,
.ss-table-cell-map-editable dt,
.ss-table-cell-deployment-node dt {
  width: 130px;
  text-align: left;
  clear: left;
  float: left;
}

.ss-table-cell-map dd,
.ss-table-cell-map-editable dd {
  margin-left: 135px;
  text-overflow:ellipsis;
  overflow: hidden;
}

.ss-table-cell-reference-module-editable .input-group {
  width: 100%;
}
.ss-table-cell-reference-module-editable .ss-reference-module-name a {
  float:left;
  padding-left: 0;
}
.ss-table-cell-reference-module-editable .ss-reference-module-chooser-button {
  float:right;
}

.ss-table-cell-toggle-button-editable {
  width: 140px;
}

.ss-table-cell-inner-table .ss-inner-table tbody tr td {
  border: none;
}

.ss-table-cell-inner-table .ss-inner-table {
  background: none;
  background-color: transparent;
}

.table tbody>tr>td.ss-vertical-align {
  vertical-align: middle;
}

.table tbody>tr>td.ss-align-middle-right {
  vertical-align: middle;
  text-align: right;
}

.table tbody>tr.ss-deployment-node-reference-image-row>td:first-child,
.table tbody>tr .ss-deployment-node-parameter-mapping-row {
  width: 250px;
}

/* Width of second column in deployment node details table-in-cell, only for edit and view pages */
.ss-page-type-edit .table tbody>tr.ss-deployment-node-reference-image-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-default-multiplicity-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-default-cloud-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-separator-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-parameter-mappings-label-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-parameter-mapping-row>td:nth-child(2),

.ss-page-type-new  .table tbody>tr.ss-deployment-node-reference-image-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-default-multiplicity-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-default-cloud-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-separator-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-parameter-mappings-label-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-parameter-mapping-row>td:nth-child(2) {
  width: 240px;
}

.ss-table .form-group{
  margin-bottom: 0;
}

.ss-run-module-dialog .ss-inner-table tr td:last-of-type,
.ss-run-module-dialog tr.ss-run-deployment-mutable-checkbox-row td:last-of-type {
  width: 250px;
}

/*
  TODO: Do this in Javascript, since the lenght is unknown in advance
*/
.ss-run-module-dialog tr.ss-run-deployment-mutable-checkbox-row td:first-of-type {
  padding-left: 70px;
}
.ss-run-module-dialog .ss-inner-table tr td:first-of-type,
.ss-run-module-dialog tr.ss-run-deployment-mutable-checkbox-row td:first-of-type {
  vertical-align: middle;
}

.ss-page-type-view .ss-deployment-node-row .ss-node-shortname {
  font-weight: bold;
}

.popover .popover-title {
  font-weight:  900;
}
.popover .popover-content {
  font-weight:  300;
}

.ss-map-empty-value {
  font-style: italic;
  opacity: 0.5
}
.ss-map-empty-value::before {
  content: "<";
}
.ss-map-empty-value::after {
  content: ">";
}

.ss-view-name-service-catalog table > tbody > tr > td:nth-child(1) {
  width: 1px;
}

td[id*=':abort'] {
  color: #a94442;
}
td[id*=':abort'] a {
  color: inherit;
  font-weight: 600;
}
td[id*=':abort']::before {
  font-family: 'Glyphicons Halflings';
  content: "\e014"; /* .glyphicon-remove */
  font-size: 12px;
  padding-right: 5px;
}
td[id*=':abort']:empty::before {
  content: "";
}

/* Pagination */
.ss-table-cell-pagination .ss-pagination-msg {
  padding-left: 5px;
  padding-right: 5px;
}
.ss-table-cell-pagination .glyphicon {
  opacity: .6;
  padding: 2px;
}
.ss-table-cell-pagination .ss-pagination-action {
  opacity: .9;
}
.ss-table-cell-pagination .ss-pagination-action:hover {
  opacity: 1;
  background-color: #dcdcdc;
  cursor: pointer;
}

.ss-table-cell-pagination .ss-pagination-all:active,
.ss-table-cell-pagination .ss-pagination-action:active {
  color: #555;
  background-color: #bababa;
  cursor: pointer;
}
.ss-table-cell-pagination .ss-pagination-all:hover {
  text-decoration: underline;
  cursor: pointer;
}
