td.ss-table-cell-boolean > input[type="checkbox"],
td.ss-table-cell-boolean > input[type="checkbox"][disabled] {
  cursor: default;
}

.ss-table th:empty {
  width:  1px;
}

.ss-table-cell-map dl {
  margin: 0;
}

.ss-table-cell-map dt,
.ss-table-cell-map-editable dt,
.ss-table-cell-deployment-node dt {
  width: 180px;
  text-align: left;
  clear: left;
  float: left;
}

.ss-table-cell-map dd,
.ss-table-cell-map-editable dd {
  margin-left: 185px;
  text-overflow:ellipsis;
  overflow: hidden;
}

.ss-table-cell-map .dl-horizontal > dt:hover:not(.ss-showing-full-text-on-hover) {
  border-top:     1px solid #777;
  border-bottom:  1px solid #777;
  margin-top:     -1px;
  margin-bottom:  -1px;
}

.ss-table-cell-reference-module-editable .input-group {
  width: 100%;
}
.ss-table-cell-reference-module-editable .ss-reference-module-name a {
  float:left;
  padding-left: 0;
}
.ss-table-cell-reference-module-editable .ss-reference-module-chooser-button {
  float:right;
}

.ss-table-cell-toggle-button-editable {
  width: 140px;
}

.ss-table-cell-inner-table .ss-inner-table tbody tr td {
  border: none;
}

.ss-table-cell-inner-table .ss-inner-table {
  background: none;
  background-color: transparent;
}

.table tbody>tr>td.ss-vertical-align {
  vertical-align: middle;
}

.table tbody>tr>td.ss-align-middle-right {
  vertical-align: middle;
  text-align: right;
}

.table tbody>tr.ss-deployment-node-reference-image-row>td:first-child,
.table tbody>tr .ss-deployment-node-parameter-mapping-row {
  width: 250px;
}

/* Width of second column in deployment node details table-in-cell, only for edit and view pages */
.ss-page-type-edit .table tbody>tr.ss-deployment-node-reference-image-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-default-multiplicity-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-default-cloud-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-separator-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-parameter-mappings-label-row>td:nth-child(2),
.ss-page-type-edit .table tbody>tr.ss-deployment-node-parameter-mapping-row>td:nth-child(2),

.ss-page-type-new  .table tbody>tr.ss-deployment-node-reference-image-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-default-multiplicity-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-default-cloud-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-separator-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-parameter-mappings-label-row>td:nth-child(2),
.ss-page-type-new  .table tbody>tr.ss-deployment-node-parameter-mapping-row>td:nth-child(2) {
  width: 240px;
}

.ss-table .form-group{
  margin-bottom: 0;
}

.ss-run-module-dialog .ss-inner-table tr td:last-of-type,
.ss-run-module-dialog tr.ss-run-deployment-mutable-checkbox-row td:last-of-type {
  width: 250px;
}

.ss-run-module-dialog .ss-inner-table tr td:first-of-type,
.ss-run-module-dialog tr.ss-run-deployment-mutable-checkbox-row td:first-of-type {
  vertical-align: middle;
}

.ss-page-type-view .ss-deployment-node-row .ss-node-shortname {
  font-weight: bold;
}

.popover .popover-title {
  font-weight:  900;
}
.popover .popover-content {
  font-weight:  300;
}

.ss-map-empty-value {
  font-style: italic;
  opacity: 0.5
}
.ss-map-empty-value::before {
  content: "<";
}
.ss-map-empty-value::after {
  content: ">";
}

.ss-view-name-service-catalog table > tbody > tr > td:nth-child(1) {
  width: 1px;
}

td[id*=':abort'] {
  color: #a94442;
}
td[id*=':abort'] a {
  color: inherit;
  font-weight: 600;
}
td[id*=':abort']::before {
  font-family: 'Glyphicons Halflings';
  content: "\e014"; /* .glyphicon-remove */
  font-size: 12px;
  padding-right: 5px;
}
td[id*=':abort']:empty::before {
  content: "";
}

/* Pagination */
.table>tbody>tr>td.ss-table-cell-pagination {
  padding-right: 0;
  padding-left: 0;
  padding-top: 12px;
}
@media (max-width: 767px) {
  /* Phone (xs) */
  .table>tbody>tr>td.ss-table-cell-pagination {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .table>tbody>tr>td.ss-table-cell-pagination>div.row>div.col-sm-6.text-left,
  .table>tbody>tr>td.ss-table-cell-pagination>div.row>div.col-sm-6.text-right  {
    padding-top: 5px;
    text-align: center;
  }

  /* Remove extra margin because section already have enough margin */
  .ss-section-content > .ss-table {
    margin-left:  -8px;
    margin-right: -8px;
    width: auto;
  }

  .ss-section-content > .ss-table:last-child {
    margin-bottom: -4px;
  }

  .table-responsive {
    border: none;
  }
}

.ss-table-cell-pagination .ss-pagination-msg {
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
}
.ss-table-cell-pagination .glyphicon {
  opacity: .6;
  padding: 2px;
}
.ss-table-cell-pagination .btn.ss-pagination-action.ss-pagination-previous.disabled,
.ss-table-cell-pagination .btn.ss-pagination-action.ss-pagination-next.disabled {
  opacity: .3;
}
.ss-table-cell-pagination .btn.btn-default:first-child:not(.ss-pagination-current-page),
.ss-table-cell-pagination .btn+.btn.btn-default:not(.ss-pagination-current-page) {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
}
.ss-table-cell-pagination .btn.btn-default:first-child:not(.ss-pagination-current-page):hover,
.ss-table-cell-pagination .btn+.btn.btn-default:not(.ss-pagination-current-page):hover {
  opacity: 1;
  background-color: #f6f6f6;
  border-color: #bababa;
  cursor: pointer;
}
.ss-table-cell-pagination .ss-pagination-all:active,
.ss-table-cell-pagination .ss-pagination-action:active {
  color: #555;
  background-color: #bababa;
  cursor: pointer;
}
.ss-table-cell-pagination .ss-pagination-all:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ss-table-cell-pagination .btn-toolbar {
  display: inline-block;
}​
.ss-table-cell-pagination .ss-pagination-separator-btn,
.ss-table-cell-pagination .ss-pagination-separator-btn {
  border: none;
}
.ss-table-cell-pagination .ss-pagination-current-page {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ss-table-cell-pagination .ss-loading,
.ss-table-cell-pagination .ss-loading:hover {
  border: none;
  background-color: transparent;
}
.ss-table-with-pagination tr:last-of-type:hover{
  /* Prevent hover effect on row with pagination controls */
  background-color: inherit;
}

.ss-table-cell-pagination .text-left {
  padding-left: 0;
}

.ss-table-cell-pagination .text-right {
  padding-right: 0;
}

