/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Except for pages of type chooser */
body.ss-page-type-chooser,
body.ss-page-type-project-chooser {
  padding-top: 0;
}

body * {
  border-radius: 0 !important;
}

body.ss-standalone-webapp-mobile {
  padding-top: 70px;
/*
  Try to remove rubberband scrolling from web apps on mobile safari (iOS):
*/
/*
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
*/
}


/*
  Try to remove rubberband scrolling from web apps on mobile safari (iOS):
*/
/*
html{
  margin:0;
  padding:0;
  overflow: hidden;
}
*/


.ss-alert-offset-placeholder {
  height: 50px;
}

.ss-page-type-chooser         .ss-alert-offset-placeholder,
.ss-page-type-chooser         .ss-alert-container-fixed-top,
.ss-page-type-project-chooser .ss-alert-offset-placeholder,
.ss-page-type-project-chooser .ss-alert-container-fixed-top {
  height: 0;
  min-height: 0;
}


/* Dev page decorations */

body.ss-dev-mode-page       .navbar:nth-child(2)::before,
body.ss-headless-mode-page  .navbar:nth-child(2)::before,
body.ss-in-progress-page    .navbar:nth-child(2)::before,
body.ss-beta-page           .navbar:nth-child(2)::before,
body.ss-placeholder-page    .navbar:nth-child(2)::before {
  content : "...";
  color: black;
  background-color: white;
  opacity: 1;
  z-index: 1000;
  text-align: center;
  position: absolute;
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: -50px;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-box-shadow: 0 0 6px 2px #bbb;
  -moz-box-shadow: 0 0 6px 2px #bbb;
  box-shadow: 0 0 6px 2px #bbb;
}

body.ss-dev-mode-page  .navbar:nth-child(2)::before {
  content : "DEV";
  color: black;
  background-color: yellow;
}

body.ss-headless-mode-page  .navbar:nth-child(2)::before {
  content : "headless";
  color: red;
  background-color: black;
}

body.ss-in-progress-page  .navbar:nth-child(2)::before {
  content : "wip";
  color: black;
  background-color: yellow;
}

body.ss-placeholder-page .navbar:nth-child(2)::before {
  content : "placeholder";
  color: white;
  background-color: #939;
}

body.ss-beta-page .navbar:nth-child(2)::before {
  content : "beta";
  color: black;
  background-color: #ee0;
}
