{
   :slipstream.ui.views.login.header.title      "Online Application Deployment Platform"
   :slipstream.ui.views.login.header.subtitle   "Deploy, scale and manage your apps on all clouds from a single platform.
                                                 **Sign up for free** and explore nuv.la today."
   :slipstream.ui.views.login.header.last-line! "For more info visit <a target='_blank' href='http://sixsq.com/nuvla'>http://sixsq.com/nuvla</a>"

   :slipstream.ui.views.login.signup.button.label   "Sign up for nuv.la"
   :slipstream.ui.views.login.signup.terms-hint     "By clicking 'Sign up for nuv.la', you agree to our
                                                            [terms of service](http://ssdocs.sixsq.com/en/latest/legal/terms_and_conditions.html)."
}
