<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SlipStream | Action confirmation</title>
    <link rel="stylesheet" type="text/css" href="external/icon-font/css/font-awesome.min.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/sixsq.css" media="screen" />

	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/common.js"></script>
</head>

<body>
	<div id="wrapper">
		<div id="header">
            <div class="top">
                <a href="/" class="logo"></a>
                <div class="menu_bar">
                    <ul>
                        <li><a href="/" title="Back to Welcome page"><i class="icon-home icon-2x"></i></a></li>
                        <li><a href="/documentation" title="Documentation"><i class="icon-info-sign icon-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div id="titles" class="bottom bottom_no_icon">
				<h2><i class="icon-bolt"></i>
				    Action Confirmation</h2>
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div id="content"></div>
		<div id="footer">
			<div class="footer_inner">
                          <div class="sixsq_logo"><a href="http://sixsq.com"></a></div>
				<div class="copyright">Copyright &copy; 2008-2013 SixSq S&agrave;rl | 1.0-772</div>
				<div class="swiss_made"><a href="http://swissmadesoftware.org"></a></div>
			</div>
		</div>
	</div>
</body>
  
</html>
					
