<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SlipStream | Logout</title>

    <link rel="stylesheet" type="text/css" href="css/application.css" />

	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/jquery.bxSlider.min.js" type="text/javascript"></script>
	<script src="js/common.js"></script>
	<script>
		$(function() {
			$('.accordion').accordion(
				{ heightStyle: "content",
				  collapsible: true});
			$('.tab_block').tabs();
			$('input[type=submit], a, button','.interaction')
				.button()
				.click(function( event ) {
					event.preventDefault();
			});
			$('.add_item','.nodes')
				.button()
				.click(function( event ) {
					event.preventDefault();
			});
		});
	</script>
</head>
<body>
</div>
	<div id="wrapper">
		<div id="header">
			<div class="top">
				<a href="#" class="logo"></a>
				<div class="menu_bar">
					<ul>
						<li class="first"><a href="#">Documentation</a></li>
					</ul>
				</div>
			</div>
			<div class="bx-wrapper">
				<div class="bx-window">
  		   			<div id="slider1">
						<div class="bottom bottom_no_icon">
							<h2>Leaving? We hope to see you back soon...</h2>
							<h3>Your gateway to multi-cloud automation</h3>
							<p>Here you will be able to provision simple and complex applications on the cloud of your choice, as well as build new virtual machine images. All this from single click.</p>
						</div> 
				</div>
			</div>
		</div>
		<div id="content">
			<div class="navigation">
				<ul class="breadcrumb">
					<li class="first home"><a href="#">Home</a></li>
					<li><a href="/byebye">Logout</a></li>
				</ul>
			</div>
			<div class="data_sheet">
				<div class="summary">
					<h3>Logout</h3>
                    <div id="logout">
						<div>
							<p>
								Logging out will erase your current authentication cookie.
								If you
								logout, you will have to log back in before you can access
								SlipStream&trade; resources.
							</p>
						</div>
                        <button class="add_item">Logout</button>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="footer_inner">
                          <div class="sixsq_logo"><a href="http://sixsq.com"></a></div>
				<div class="copyright">Copyright &copy; 2008-2013 SixSq S&agrave;rl | 1.0-772</div>
				<div class="swiss_made"><a href="http://swissmadesoftware.org"></a></div>
			</div>
		</div>
	</div>
</body>

</html>
					
