<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SlipStream Login</title>
    <link rel="stylesheet" type="text/css" href="css/sixsq.css" media="screen" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="ie7.css" media="screen" /><![endif]-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/common.js"></script>
	<script>
		$(function() {
			$('.accordion').accordion();
			$('.tab_block').tabs();
			$('input[type=submit], a, button','.interaction')
				.button()
				.click(function( event ) {
					event.preventDefault();
			});
			$('.add_item','.nodes')
				.button()
				.click(function( event ) {
					event.preventDefault();
			});
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="top">
				<a href="#" class="logo"></a>
				<div class="menu_bar">
					<ul>
						<li class="first"><a href="#">Documentation</a></li>
						<li><a href="#">Users</a></li>
						<li><a href="#">Configurations</a></li>
						<li><a href="#">Super (logout)</a></li>
					</ul>
				</div>
			</div>
			<div class="bottom bottom_c">
				<h2>Public/Baseimages/Fedora/14.0</h2>
				<h3>Ut non lobortis urna. Maecenas vitae tempus elit.</h3>
				<p>Pellentesque velit magna, faucibus non vestibulum ac, ultrices id ipsum. Nullam id pretium augue.
				Cras orci elit, cursus non sollicitudin sed, eleifend quis nunc.</p>
			</div> 
		</div>
		<div id="content">
			<div class="navigation">
				<ul class="breadcrumb">
					<li class="first home"><a href="#">Home</a></li>
					<li><a href="#">Configuration</a></li>
					<li><a href="#">1349253778242</a></li>
				</ul>
				<ul class="interaction">
					<li class="attention"><button>Save</button></li>
					<li class="attention"><button>Reload Configuration File</button></li>
				</ul>
			</div>
			<div class="data_sheet">
				<div class="summary accordion">
					<h3>General<span></span></h3>
					<div>
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Value</th>
									<th> </th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd"> <!--odd class is not necessary, only for old browsers (ie8)-->
									<td>SLIPSTREAM MAIL DEBUG</td>
									<td>Debug mail sending</td>
									<td> </td>
									<td class="help"> </td>
								</tr>
								<tr>
									<td>SLIPSTREAM MAIL DEBUG</td>
									<td>Debug mail sending</td>
									<td>smtp.gmail.com</td>
									<td class="help"><span>Help</span></td>
								</tr>
								<tr class="odd">
									<td>SLIPSTREAM MAIL DEBUG</td>
									<td>Debug mail sending</td>
									<td> </td>
									<td class="help"><span>Help</span></td>
								</tr>
								<tr>
									<td>SLIPSTREAMREGISTRATION EMAIL</td>
									<td>Debug mail sending</td>
									<td> </td>
									<td class="help"> </td>
								</tr>
								<tr class="odd">
									<td>SLIPSTREAM MAIL DEBUG</td>
									<td>Port on SMTP server (defaults to standard ports).</td>
									<td>slipstream-support@sixsq.com</td>
									<td class="help"><span>Help</span></td>
								</tr>
								<tr>
									<td>SLIPSTREAM MAIL DEBUG</td>
									<td>Debug mail sending</td>
									<td>smtp.gmail.com</td>
									<td class="help"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>StratusLab<span></span></h3>
					<div class="tab_block">
						<ul class="tabs inner_tabs">
							<li><a href="#fragment-21">Summary</a><span></span></li>
							<li><a href="#fragment-22">Second item</a><span></span></li>
							<li><a href="#fragment-23">Another item</a><span></span></li>
						</ul>
						<div id="fragment-21">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th class="">Value</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd">
										<td>SLIPSTREAMREPORTS LOCATION</td>
										<td> </td>
										<td><input type="text" id="fillout1" name="fillout1" value="/571976520084/slipstream/slipstream" /></td>
									</tr>
									<tr>
										<td>SLIPSTREAMREPORTS LOCATION</td>
										<td>Endpoint of the SlipStream client bootstrap script</td>
										<td><input type="text" id="fillout2" name="fillout2" value="/571976520084/slipstream/slipstream" /></td>
									</tr>
									<tr class="odd">
										<td>SLIPSTREAM UPDATE CLIENTBOOTSTRAPURL</td>
										<td> </td>
										<td><input type="text" id="fillout3" name="fillout3" value="/571976520084/slipstream/slipstream" /></td>
									</tr>
									<tr>
										<td>SLIPSTREAMREPORTS LOCATION</td>
										<td>We add a line under!</td>
										<td><input type="text" id="fillout4" name="fillout4" value="/571976520084/slipstream/slipstream" /></td>
									</tr>
									<tr class="odd">
										<td>SLIPSTREAMREPORTS LOCATION</td>
										<td>We add a line under!</td>
										<td><input type="text" id="fillout5" name="fillout5" value="/571976520084/slipstream/slipstream" /></td>
									</tr>
									<tr>
										<td>SLIPSTREAM UPDATE CLIENTBOOTSTRAPURL</td>
										<td>We add a line under!</td>
										<td><input type="text" id="fillout6" name="fillout6" value="/571976520084/slipstream/slipstream" /></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="fragment-22">
							<p>tab 2</p>
						</div>
						<div id="fragment-23">
							<p>tab 3</p>
						</div>
					</div>
					<h3>Advanced<span></span></h3>
					<div>
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd">
									<td>SLIPSTREAMREPORTS LOCATION</td>
									<td> </td>
									<td><input type="text" id="fillout7" name="fillout7" value="/571976520084/slipstream/slipstream" /></td>
								</tr>
								<tr>
									<td>SLIPSTREAMREPORTS LOCATION</td>
									<td>Endpoint of the SlipStream client bootstrap script</td>
									<td><input type="text" id="fillout8" name="fillout8" value="/571976520084/slipstream/slipstream" /></td>
								</tr>
								<tr class="odd">
									<td>SLIPSTREAM UPDATE CLIENTBOOTSTRAPURL</td>
									<td> </td>
									<td><input type="text" id="fillout9" name="fillout9" value="/571976520084/slipstream/slipstream" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="navigation bottom_nav">
				<ul class="interaction">
					<li class="attention"><button>Save</button></li>
					<li class="attention"><button>Reload Configuration File</button></li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div class="footer_inner">
				<div class="copyright">Copyright &copy; 2008-2013 SixSq S&agrave;rl | 1.0-772</div>
				<div class="swiss_made"><a href="https://bit.ly/cwCMxW"></a></div>
			</div>
		</div>
	</div>
</body>

</html>
