<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            HNX | Run: Public/Tutorials/HelloWorld/client_server
        </title>
        <link rel="stylesheet" type="text/css" href="css/application.css">
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/jquery-ui.js" type="text/javascript"></script>
        <script src="external/jquery-flot/js/jquery.flot.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.pie.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.time.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.stack.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.tooltip.min.js"></script>
        <script src="external/jit/js/jit.js" type="text/javascript"></script>
        <script src="external/jit/js/excanvas.js" type="text/javascript"></script>
        <script src="external/justgage/js/raphael.2.1.0.min.js"></script>
        <script src="external/justgage/js/justgage.1.0.1.min.js"></script>
        <script src="js/common.js" type="text/javascript"></script>
        <script src="js/metering.js" type="text/javascript"></script>
        <script src="js/dashboard.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="top">
                    <a href="#" class="logo"></a>
                    <div class="menu_bar">
                        <ul>
                            <li class="first">
                                <a href="#"></a>
                            </li>
                            <li class="first">
                                <a href="#"></a>
                            </li>
                            <li class="first">
                                <a href="#"></a>
                            </li>
                            <li>
                                <a id="user" href="#">Joe </a>
                            </li>
                            <li class="first">
                                <a class="action" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom bottom_no_icon">
                    <h2>
                        Control Dashboard
                    </h2>
                    <h3>
                        Single view of all your resources: past and present
                    </h3>
                    <p>
                        Note: the first section gives you a HNX view, while second
                        gives you a cloud provider view.
                    </p>
                </div>
            </div>
            <div id="content">
                <div class="navigation">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a href="/"><i class="icon-home"></i></a></li>
                        <li>dashboard</li>
                    </ul>
                </div>
                <div class="data_sheet">
                    <div class="summary accordion">
                        <h3 id="usage-header">Usage</h3>
                        <div id="usage">
                            <div id="gauge-cloudA" class="gauge" data-quota-max="100" data-quota-current="11" data-quota-title="Cloud A"></div>
                            <div id="gauge-cloudB" class="gauge" data-quota-max="100" data-quota-current="83" data-quota-title="Cloud B"></div>
                        </div>

                        <h3>
                            Deployments / Runs / Builds
                        </h3>
                        <div id="runs" class="tab_block">
                            <ul id="runs-header" class="tabs inner_tabs">
                                <li><a href="#fragment-runs-somecloud">CloudA</a><span></span></li>
                                <li><a href="#fragment-runs-cloudb">CloudB</a><span></span></li>
                            </ul>
                            <div id="fragment-runs-somecloud">
                                <table>
                                    <thead>
                                        <tr>
                                            <th width="10" />
                                            <th>Run Id</th>
                                            <th>Module</th>
                                            <th>State</th>
                                            <th>Start Time</th>
                                            <th>User</th>
                                            <th>Tags</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a href="">id-123</a>
                                            </td>
                                            <td>
                                                <a href="">my module</a>
                                            </td>
                                            <td>Running</td>
                                            <td>Today :-)</td>
                                            <td>Joe</td>
                                            <td>cool deployment</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="fragment-runs-cloudb">
                                <table>
                                    <thead>
                                        <tr>
                                            <th width="10" />
                                            <th>Run Id</th>
                                            <th>Module</th>
                                            <th>Status</th>
                                            <th>Start Time</th>
                                            <th>User</th>
                                            <th>Tags</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:10px"><i class="icon-legal"></i></td>
                                            <td>
                                                <a href="">id-123</a>
                                            </td>
                                            <td>
                                                <a href="">my module</a>
                                            </td>
                                            <td>Running</td>
                                            <td>Today :-)</td>
                                            <td>Joe</td>
                                            <td>another cool deployment</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <h3>
                            Virtual Machines
                        </h3>
                        <div id="vms" class="tab_block">
                            <div class="while-processing"><p>Interrogating cloud providers, please wait...</p></div>
                        </div>

                        <h3 id="metering-header">Metering</h3>
                        <div id="metering" class="tab_block metrics">
                            <ul class="tabs inner_tabs">
                                <li><a href="#fragment-vm-running">Virtual Machines</a></li>
                                <li style="display:none;"><a href="#fragment-cpu-requested">CPU</a></li>
                                <li style="display:none;"><a href="#fragment-memory-requested">Memory</a></li>
                                <li style="display:none;"><a href="#fragment-disk-requested">Disk</a></li>

                            </ul>
                            <select id="metering-selector">
                                <option value="3840">Last hour</option>
                                <option value="86640">Last day</option>
                                <option value="604800">Last 7 days</option>
                                <option value="2592000">Last 30 days</option>
                            </select>
                            <div id="fragment-vm-running" data-metric="slipstream.${username}.usage.instance.*" class="metric row">
                                <div class="while-processing"><p>Interrogating service, please wait...</p></div>
                            </div>
                            <div id="fragment-cpu-requested" data-metric="slipstream.${username}.usage.vcpus.*" class="metric row">
                                <div class="while-processing"><p>Interrogating service, please wait...</p></div>
                            </div>
                            <div id="fragment-memory-requested" data-metric="slipstream.${username}.usage.memory.*" class="metric row">
                                <div class="while-processing"><p>Interrogating service, please wait...</p></div>
                            </div>
                            <div id="fragment-disk-requested" data-metric="slipstream.${username}.usage.disk.*" class="metric row">
                                <div class="while-processing"><p>Interrogating service, please wait...</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="footer_inner">
                    <div class="sixsq_logo">
                        <a href="http://sixsq.com"></a>
                    </div>
                    <div class="copyright">
                        Copyright © 2008-2013 SixSq Sàrl | 1.0-772
                    </div>
                    <div class="swiss_made">
                        <a href="http://swissmadesoftware.org"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
