<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <title>Helix Nebula | Deployment: client_server</title>

    <link rel="stylesheet" type="text/css" href="css/application.css" />

    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/common.js"></script>
    <script src="js/deployment-view.js" type="text/javascript"></script>
  </head>
  <body>
	<div id="wrapper">
		<div id="header">
			<div class="top">
				<a href="/" class="logo"></a>

                <div class="menu_bar">
                    <ul>
                        <li class="first"><a href="#"><i class="icon-home icon-2x"></i></a><li>
                        <li class="first"><a href="#"><i class="icon-info-sign icon-2x"></i></a><li>
                        <li class="first"><a href="#"><i class="icon-bar-chart icon-2x"></i></a><li>
                        <li class="first"><a href="#"><i class="icon-dashboard icon-2x"></i></a><li>
                        <li class="first"><a href="#"><i class="icon-group icon-2x"></i></a><li>
                        <li class="first"><a href="#"><i class="icon-wrench icon-2x"></i></a><li>

                        <li><a id="user" href="#">Super <i class="icon-user icon-2x"></i></a></li>
                        <li class="first"><a class="action" href="#"><i class="icon-signout icon-2x"></i></a></li>
                    </ul>
                </div>
			</div>

			<div class="bottom bottom_no_icon">
				<h2 class="deployment_category"> Public/Tutorials/HelloWorld/client_server</h2>
				<h3>Ut non lobortis urna. Maecenas vitae tempus elit.</h3>
				<p>Pellentesque velit magna, faucibus non vestibulum ac, ultrices id ipsum. Nullam id pretium augue.
				Cras orci elit, cursus non sollicitudin sed, eleifend quis nunc.</p>
			</div>
		</div>
		<div id="content">
			<div class="navigation">
	            <ul id="breadcrumb" class="breadcrumb">
            	    <li><a href="#"><i class="icon-home"></i></a></li>
					<li><a href="#">modules</a></li>
					<li><a href="#">Public</a></li>
					<li><a href="#">Tutorials</a></li>
					<li><a href="#">HelloWorld</a></li>
					<li><a href="#">client_server</a></li>
				</ul>
				<ul id="interaction-top" class="interaction">
					<li class="attention"><button id="run-with-options-button-top"><i class="icon-rocket"></i> Run...</button></li>
					<li class="attention"><button id="edit-button-top"><i class="icon-edit"></i> Edit</button></li>
					<li class="attention"><button id="copy-button-top"><i class="icon-copy"></i> Copy...</button></li>
					<li class="attention"><button id="publish-button-top"><i class="icon-globe"></i> Publish</button></li>
					<li class="attention"><button id="unpublish-button-top"><i class="icon-globe"></i> Un-Publish</button></li>
				</ul>
			</div>
            <div class="data_sheet summary in-dialog" id="run-with-options-dialog" title="Mutable Deployment Launch" style="display:block;">
    			<form
    			    action="/run"
    			    method="post"
    				accept-charset="utf-8"
    				id="form-run-with-options">
                    <input type="hidden" name="refqname" id="refqname" />
            	    <div>
                        <h3 style="display: block;">Global</h3>
                        <div id="run-parameters-edit-global" style="display:block;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Mutable deployment? (beta)</td>
                                        <td>
                                            <input type="checkbox" name="mutable" value="true" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3>apache1</h3>
                        <div>
                            <!-- This gets thrown away in the deployment.clj and parameter-edit.html is used instead -->
	                    </div>
	                </div>
                </form>
            </div>
            <div id="copydialog" title="Copy Deployment?" style="display: none;">
                <div id="copydialogerror" class="conflict hidden">
                    <span></span>
                </div>
                <form method="post" id="copyform" name="copyform">
                    <input type="hidden" name="source_uri" id="source_uri" />
                    <p>
                		Select the project to copy to:
                	</p>
                    <p>
            	        <input disabled="disabled" id="target_project_uri" size="50" />
                	</p>
                    <p>
                        <button class="add_item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="chooser-button"><i class="icon-eye-open"></i>
                            Choose Project
                        </button>
                	</p>
                	<hr/>
                    <p>
                		Name of the new deployment:
                	</p>
                    <p>
            		    <input id="target_name" name="target_name" placeholder="target module name" size="50" />
                    </p>
                </form>
            </div>
            <div id="chooser" class="overlay_sheet" style="display: none;">
                <iframe id="chooseriframe" src="/?chooser=true" onload="javascript:$$.iframeLoaded(this);"></iframe>
            </div>
			<div class="data_sheet">
				<div class="summary accordion">
                    <!-- <h3>Overview</h3>
                    <div>
                        <div id="infovis"></div>
                    </div> -->
					<h3>Summary</h3>
					<div id="module-summary">
						<table>
							<tbody>
								<tr>
									<td>Module</td>
									<td id="module-name">Public/Tutorials/HelloWorld/client_serverX</td>
								</tr>
								<tr>
									<td>Version</td>
									<td id="module-version">99<span> (<a href="Deployment-view/">history</a>)</span></td>
								</tr>
								<tr>
									<td>Description</td>
									<td id="module-description">Description...X</td>
								</tr>
								<tr>
									<td>Comment</td>
									<td id="module-comment">Latest comment...X</td>
								</tr>
								<tr>
									<td>Category</td>
									<td id="module-category">DeploymentX</td>
								</tr>
								<tr>
									<td>Created</td>
									<td id="module-created">2013-03-08 22:37:25.341 CETX</td>
								</tr>
								<tr>
									<td>Last modified</td>
									<td id="module-last-modified">2013-03-08 22:37:25.341 CETX</td>
								</tr>
								<tr>
									<td>Owner</td>
									<td id="module-owner">sixsqX</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>Nodes</h3>
					<div class="nodes" id="nodes">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Image link</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="node_name"><input disabled="disabled" type="text" name="fillout1" value="apache1" /></td>
									<td>
										<table class="image_link">
										    <tbody>
											    <tr>
    												<td>
    													<b>Reference image:</b>
    													<a href="module/Public/Tutorials/HelloWorld/apache">
    													module/Public/TutorialsXX/HelloWorld/apache
    													</a>
    												</td>
    											</tr>
    											<tr>
    												<td class="multiplicity"><b>Default multiplicity: </b><input disabled="disabled" type="text" name="multiplicity" value="1" />
    												</td>
    											</tr>
    											<tr>
    												<td><b>Default cloud service: <select disabled="disabled">
    												    <option>CloudSigma</option>
    												    <option>StratusLab</option>
    												    <option>Interoute VDC</option>
    												    <option>Atos</option>
    												</select></b>
    												</td>
    											</tr>
    										</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td class="node_name"><input disabled="disabled" type="text" name="fillout3" value="apache2" /></td>
									<td>
										<table class="image_link">
											<tr>
												<td>
													<b>Reference image:</b> <a href="module/Public/Tutorials/HelloWorld/apache">
													module/Public/Tutorials/HelloWorld/apache
													</a>
												</td>
											</tr>
											<tr>
												<td class="multiplicity"><b>Default multiplicity: </b><input disabled="disabled" type="text" name="multiplicity" value="1" />
												</td>
											</tr>
											<tr>
												<td>
												    <b>Default cloud service: <select disabled="disabled">
												        <option>CloudSigma</option>
												        <option>StratusLab</option>
												        <option>Interoute VDC</option>
												        <option>Atos</option>
												    </select></b>
												</td>
											</tr>
											<tr>
												<td>
													<hr />
													<b>Parameter mappings</b>
													<table class="parameter_mapping">
														<tr>
															<th>Input parameter</th>
															<th>Linked to</th>
														</tr>
														<tr>
															<td><input disabled="disabled" type="text" name="fillout" value="webserver.port" /></td>
															<td><input disabled="disabled" type="text" name="fillout" value="apache1:port" /></td>
														</tr>
														<tr>
															<td><input disabled="disabled" type="text" name="fillout" value="webserver.port" /></td>
															<td><input disabled="disabled" type="text" name="fillout" value="apache1:port" /></td>
														</tr>
														<tr>
															<td><input disabled="disabled" type="text" name="fillout" value="webserver.port" /></td>
															<td><input disabled="disabled" type="text" name="fillout" value="apache1:port" /></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
	                <h3 id="runs-header">Runs</h3>
	                <div id="runs">
	                    <table>
		                    <thead>
		                        <tr>
                                    <th>UUID</th>
                                    <th>Deployment</th>
                                    <th>Note</th>
                                    <th>Status</th>
                                    <th>Start Time</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr>
		                            <td>
		                                <a href="run/d133c626-b6fc-41d8-871c-ffb6182ea956">d133c626-b6fc-41d8-871c-ffb6182ea956</a>
		                            </td>
		                            <td>
		                                <a href="module/Public/Tutorials/HelloWorld/client_server/11">module/Public/Tutorials/HelloWorld/client_server/11</a>
		                            </td>
		                            <td>Good deployment, don't remove</td>
		                            <td>Inactive</td>
		                            <td>2013-03-26 18:46:04.694 CET</td>
		                        </tr>
		                        <tr>
		                            <td>
		                                <a href="run/d133c626-b6fc-41d8-871c-ffb6182ea956">d133c626-b6fc-41d8-871c-ffb6182ea956</a>
		                            </td>
		                            <td>
		                                <a href="module/Public/Tutorials/HelloWorld/client_server/11">module/Public/Tutorials/HelloWorld/client_server/11</a>
		                            </td>
                                    <td>Good deployment, don't remove</td>
                                    <td>Inactive</td>
                                    <td>2013-03-26 18:46:04.694 CET</td>
		                        </tr>
		                    </tbody>
	                    </table>
	                </div>
					<h3>Authorization</h3>
					<div id="authorization">
					<table class="autorization_table">
						<thead>
							<tr>
								<th>Access Right</th>
								<th>Owner</th>
								<th>Group</th>
								<th>Public</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>View</td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout1" id="fillout1" value="fillout" checked="checked" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout2" id="fillout2" value="fillout" /></td>
								<td><input class="checkbox" type="checkbox" name="fillout3" id="fillout3" value="fillout" /></td>
							</tr>
							<tr>
								<td>Edit</td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout4" id="fillout4" value="fillout" checked="checked" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout5" id="fillout5" value="fillout" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout6" id="fillout6" value="fillout" /></td>
							</tr>
							<tr>
								<td>Delete</td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout7" id="fillout7" value="fillout" checked="checked" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout8" id="fillout8" value="fillout" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout9" id="fillout9" value="fillout" /></td>
							</tr>
							<tr>
								<td>Execute (e.g. Run, Build)</td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout10" id="fillout10" value="fillout" checked="checked" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout11" id="fillout11" value="fillout" /></td>
								<td><input disabled="disabled" class="checkbox" type="checkbox" name="fillout12" id="fillout12" value="fillout" /></td>
							</tr>
						</tbody>
					</table>
					<hr />
					<table>
						<thead>
							<tr>
								<th>Group members</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Inherited from parent: &nbsp;&nbsp;<input disabled="disabled" class="checkbox" type="checkbox" checked="checked" /></td>
							</tr>
							<tr>
								<td>meb, konstan</td>
							</tr>

						</tbody>
					</table>
					</div>
				</div>
			</div>
			<div class="navigation bottom_nav">
				<ul id="interaction-bottom" class="interaction">
					<li class="attention"><button id="run-with-options-button-bottom"><i class="icon-rocket"></i> Run...</button></li>
					<li class="attention"><button id="edit-button-bottom"><i class="icon-edit"></i> Edit</button></li>
					<li class="attention"><button id="copy-button-bottom"><i class="icon-copy"></i> Copy...</button></li>
					<li class="attention"><button id="publish-button-bottom"><i class="icon-globe"></i> Publish</button></li>
					<li class="attention"><button id="unpublish-button-bottom"><i class="icon-globe"></i> Un-Publish</button></li>
				</ul>
			</div>
            <form id="publish-form" action="something" method="post">
            </form>
		</div>
		<div id="footer">
			<div class="footer_inner">
                          <div class="sixsq_logo"><a href="http://sixsq.com"></a></div>
				<div class="copyright">Copyright &copy; 2008-2013 SixSq S&agrave;rl | 1.0-772</div>
				<div class="swiss_made"><a href="http://swissmadesoftware.org"></a></div>
			</div>
		</div>
	</div>
    <div class="ui-widget-overlay overlay-message">
        <div class="please_wait">
            <h2>Starting VMs</h2>
            <p>Please wait</p>
        </div>
    </div>
</body>

</html>
