<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <title>Helix Nebula</title>

    <link rel="stylesheet" type="text/css" href="css/application.css" />

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <div id="footer">
	    <div class="footer_inner">
	      <div>The Helix Nebula project is co-funded by the European Community Seventh Framework Programme (FP7/2007-2013) under Grant Agreement no 312301</div>
	      <br/>
	      <div class="sixsq_logo"><a href="http://sixsq.com"></a></div>
	      <div class="copyright">Powered by SlipStream&reg; <span id="release-version">2.1.5</span> | Copyright &copy; 2014 SixSq S&agrave;rl | Open source Apache 2.0 license</div>
	    </div>
      </div>
    </div>
  </body>
</html>
