<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    
    <title>SlipStream</title>
    
    <link rel="stylesheet" type="text/css" href="css/application.css" />
    
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
  </head>
  <body>

    <div id="wrapper">

      <div id="header">
	<div class="top">
	  <a href="#" class="logo"></a>
	  <div class="menu_bar">
	    <ul>
	      <li class="first"><a href="/documentation">Documentation</a></li>
	      <li id="header-users"><a href="/users">Users</a></li>
	      <li id="header-config"><a href="/configurations">System Configuration</a></li>
	      <li id="header-username"><a href="/users/super">SomeSuperUser</a></li>
              <li id="header-loginout"><a class="action" href="byebye">(Logout)</a></li>
	    </ul>
	  </div>
	</div>
	<div id="titles" class="bottom bottom_no_icon">
	  <h2 id="header-title"><i class="icon-folder-open"></i>Public/Baseimages/Fedora/14.0</h2>
	  <h3 id="header-title-sub">Ut non lobortis urna. Maecenas vitae tempus elit.</h3>
	  <p id="header-title-desc">Pellentesque velit magna, faucibus non vestibulum ac, ultrices id ipsum. Nullam id pretium augue.
	    Cras orci elit, cursus non sollicitudin sed, eleifend quis nunc.</p>
	</div> 
      </div>
    </div>

  </body>

</html>
