<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title id="title">SlipStream | Login</title>
    <link rel="stylesheet" type="text/css" href="/external/icon-font/css/font-awesome.min.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/sixsq.css" media="screen" />

	<script src="/external/jquery/js/jquery.js"></script>
	<script src="/external/jquery-ui/js/jquery-ui.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">Header</div>
		<div id="content">Content</div>
		<div id="footer">Footer</div>
	</div>
</body>
</html>
