                        <div id="runs" class="tab_block">
    	                    <ul id="runs-header" class="tabs inner_tabs">
                                <li><a href="#fragment-runs-somecloud">CloudA</a><span></span></li>
                                <li><a href="#fragment-runs-cloudb">CloudB</a><span></span></li>
    	                    </ul>
    	                    <div id="fragment-runs-somecloud">
    	                        <table>
    		                        <thead>
    		                            <tr>
    		                                <th></th>
                                            <th>Run Id</th>
                                            <th>Module</th>
                                            <th>Status</th>
                                            <th>Start Time</th>
                                            <th>User</th>
                                            <th>Tags</th>
    		                            </tr>
    		                        </thead>
    		                        <tbody>
    		                            <tr>
                                            <td style="width:10px"><i class="icon-rocket"></i></td>
                                            <td>
                                                <a href="">id-123</a>
                                            </td>
                                            <td>
                                                <a href="">my module</a>
                                            </td>
                                            <td>Running</td>
                                            <td>Today :-)</td>
                                            <td>Joe</td>
                                            <td>cool deployment</td>
    		                            </tr>
    		                        </tbody>
    		                    </table>
                            </div>
    	                    <div id="fragment-runs-cloudb">
    	                        <table>
    		                        <thead>
    		                            <tr>
    		                                <th></th>
                                            <th>Run Id</th>
                                            <th>Module</th>
                                            <th>Status</th>
                                            <th>Start Time</th>
                                            <th>User</th>
                                            <th>Tags</th>
    		                            </tr>
    		                        </thead>
    		                        <tbody>
    		                            <tr>
                                            <td style="width:10px"><i class="icon-legal"></i></td>
                                            <td>
                                                <a href="">id-123</a>
                                            </td>
                                            <td>
                                                <a href="">my module</a>
                                            </td>
                                            <td>Running</td>
                                            <td>Today :-)</td>
                                            <td>Joe</td>
                                            <td>another cool deployment</td>
    		                            </tr>
    		                        </tbody>
    		                    </table>
                            </div>
                        </div>
