<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>runtime params</title>
</head>
<body>
                    <div id="runtime-parameters" class="tab_block">
                        <ul class="tabs inner_tabs">
                            <li><a href="#fragment-parameters-something">Something</a><span></span></li>
                        </ul>
                        <div id="fragment-parameters-something">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Value</th>
                                        <th class="help"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>HNX MAIL DEBUG</td>
                                        <td>Debug mail sending</td>
                                        <td>A value</td>
                                        <td class="help"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
</body>
</html>
