<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>
        Helix Nebula | Welcome
    </title>
    <link rel="stylesheet" type="text/css" href="external/jit/css/base.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="external/jit/css/BarChart.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="external/jit/css/AreaChart.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="external/icon-font/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/sixsq.css" media="screen" />

    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <script src="external/jit/js/jit.js" type="text/javascript"></script>
    <script src="external/jit/js/excanvas.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/module.js" type="text/javascript"></script>
    <script src="js/user-dashboard.js" type="text/javascript"></script>
</head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="top">
                    <a href="/" class="logo"></a>

                    <div class="menu_bar">
                        <ul>
                            <li><a href="#" title="Back to the home page"><i class="icon-home icon-2x"></i></a></li>
                            <li><a href="#" title="Documentation"><i class="icon-info-sign icon-2x"></i></a></li>
                            <!-- <li class="first"><a href="#"><i class="icon-bar-chart icon-2x"></i></a></li> -->
                            <li class="separation"><a id="user" href="#" title="User information">Joe <i class="icon-user icon-2x"></i></a></li>
                            <li class="separation"><a class="action" href="/logout" title="Signout/logout"><i class="icon-signout icon-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="titles" class="bottom bottom_no_icon">
                    <h2>
                        <i class="icon-home"></i>Welcome to Helix Nebula Market Place
                    </h2>
                    <h3>
                        Multi-cloud automated provisioning and image creation
                    </h3>
                    <p>
                        The welcome page provides you with all currently published modules and root modules, including yours and the ones shared with you.
                    </p>
                </div>
            </div>
            <div id="content">
                <div class="navigation">
                    <ul class="breadcrumb">
                	    <li><a href="/"><i class="icon-home"></i></a></li>
                    </ul>
                    <ul class="interaction">
                        <li class="attention">
                            <button id="new-project-button-top"><i class="icon-folder-open"></i> New Project</button>
                        </li>
                    </ul>
                </div>
                <div class="data_sheet">
                    <div class="summary accordion">
                        <h3 id="published-modules-header">
	                         App Store
                        </h3>
                        <div id="published-modules">
							<div style="float: left; background-color: #CBCBCB; margin: 20px; width: 270px;">
								<div style="height: 170px; background-color: white; margin: 10px 10px 0px;">
								    <center>
    								    <a href="/module/examples">								    
									        <img src="http://s3-eu-west-1.amazonaws.com/linapp.production/posts/9/lightbox/centos_logo.png?1288561185" style="max-height: 150px; max-width: 230px; margin: 10px 10px 0 10px;" />
									    </a>    
									</center>
								</div>
	                            <button class="add_item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float: right; margin: 10px;" onclick="alert(location.href); location = '/image-view?showdialog=run-with-options-dialog'; return false;"><i class="icon-rocket" ></i> Free</button>
								<div style="margin: 10px;">
									<emp style="font-size: 1.1em;"><a href="/module/examples">CentOS 6.5</a></emp>
								</div>
								<div style="margin: 0 10px;">
									<strong>Publisher: </strong><span>sixsq</span>
								</div>
								<div style="margin: 0 10px; height: 30px; overflow: hidden; word-wrap: break-word;">
									<strong>Description: </strong><span>Standard CentOS native image</span>
								</div>
								<div style="margin: 0 10px 10px 10px;">
									<strong>Version: </strong><span>123</span>
								</div>
							</div>
							<div style="float: left; background-color: #CBCBCB; margin: 20px; width: 270px;">
								<img src="/images/slipstream.png" style="backgroud-color: white;width: 250px; margin: 10px 10px 0 10px;" />
	                            <button class="add_item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float: right; margin: 10px;"><i class="icon-rocket"></i> Free</button>
								<div style="margin: 10px;">
									<emp>SlipStream 2.1.7</emp>
								</div>
								<div style="margin-left: 10px;">
									Publisher: sixsq
								</div>
								<div style="margin-left: 10px;">
									Description: Full SlipStream deployment
								</div>
								<div style="margin: 0 10px 10px 10px;">
									Version: 567
								</div>
							</div>
							<div style="float: left; background-color: #CBCBCB; margin: 20px; width: 270px;">
								<img src="http://blog.twmg.com.au/wp-content/uploads/2013/09/wordpress-logo.jpg" style="width: 250px; margin: 10px 10px 0 10px;" />
	                            <button class="add_item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float: right; margin: 10px;"><i class="icon-rocket"></i> Free</button>
								<div style="margin: 10px;">
									<emp>WordPress</emp>
								</div>
								<div style="margin-left: 10px;">
									Publisher: sixsq
								</div>
								<div style="margin-left: 10px;">
									Description: Simple WordPress deployment 
								</div>
								<div style="margin: 0 10px 10px 10px;">
									Version: 321
								</div>
							</div>
							<div style="float: left; background-color: #CBCBCB; margin: 20px; width: 270px;">
								<div style="margin: 10px; background-color: white;">
									<img src="http://www.ozonesolutions.com/programming/wp-content/uploads/2012/04/ubuntulogo.png" style="width: 230px; padding: 10px 10px 0 10px;" />
								</div>
                            	<button class="add_item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float: right; margin: 10px;"><i class="icon-rocket"></i> Free</button>
								<div style="margin: 10px;">
									<emp>Ubuntu 12.04</emp>
								</div>
								<div style="margin-left: 10px;">
									Publisher: sixsq
								</div>
								<div style="margin-left: 10px;">
									Description: Standard Ubuntu 12.04 native image
								</div>
								<div style="margin: 0 10px 10px 10px;">
									Version: 345
								</div>
							</div>
							<div style="float: left; background-color: #CBCBCB; margin: 20px; width: 270px;">
								<div style="margin: 10px; background-color: white;">
									<img src="http://castlefranksystems.com/wp-content/uploads/2013/11/openerp-logo.png" style="backgroud-color: white;width: 230px; padding: 10px 10px 0 10px;" />
								</div>
                            	<button class="add_item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="float: right; margin: 10px;"><i class="icon-rocket"></i> Free</button>
								<div style="margin: 10px;">
									<emp>CentOS 6.5</emp>
								</div>
								<div style="margin-left: 10px;">
									Publisher: sixsq
								</div>
								<div style="margin-left: 10px;">
									Description: Standard CentOS native image
								</div>
								<div style="margin: 0 10px 10px 10px;">
									Version: 123
								</div>
							</div>
                        </div>
                        <h3>
                            Projects
                        </h3>
                        <div id="root-projects">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="icon"></th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Owner
                                        </th>
                                        <th>
                                            Version
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="category project_category">
                                            <a href="module/A/555">Some project</a>
                                        </td>
                                        <td>
                                            Description...
                                        </td>
                                        <td>sixsq</td>
                                        <td>123</td>
                                    </tr>
                                    <tr>
                                        <td class="values category project_category">
                                            <a href="module/CELAR/899">Some other project</a>
                                        </td>
                                        <td>
                                            Some other description...
                                        </td>
                                        <td>Joe</td>
                                        <td>321</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3 id="service-catalog-header">
                            Service Catalog
                        </h3>
                        <div id="service-catalog">
    	                    <ul class="tabs inner_tabs">
                                <li><a href="#fragment-parameters-cloudx">CloudX</a><span></span></li>
    	                    </ul>
    	                    <div id="fragment-parameters-cloudx">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                key
                                            </td>
                                            <td>
                                                Description...
                                            </td>
                                            <td>
                                                123
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigation bottom_nav">
                    <ul class="interaction">
                        <li class="attention">
                            <button id="new-project-button-bottom"><i class="icon-folder-open"></i> New Project</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footer">
                <div class="footer_inner">
                    <div class="sixsq_logo"><a href="http://sixsq.com"></a></div>
                    <div class="copyright">Copyright &copy; 2008-2013 SixSq S&agrave;rl | 1.0-772</div>
                    <div class="swiss_made"><a href="http://swissmadesoftware.org"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
