/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

.container {
  /*background: red;*/
}

.jumbotron {
  color: white;
}

.jumbotron .row > div {
  /*background: rgb(75,75,75);*/
}

.jumbotron #create-account-form {
  color: white;
  padding: 30px;
  padding-bottom: 0px;
}

.jumbotron a {
  color: white;
}

#thejumbotron {
  background: rgb(160,0,0);
  background-image: url(../new_img/slipstream_logo_red_on_transparent.svg);
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin-top: 20px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer a {
  color: inherit;
}

.blur {
  filter:url(#wherearemyglasses);
  /* ^ for Firefox */
  -webkit-filter: blur(1px);
  /* ^ Webkit browsers */
  /*filter: blur(1px);*/
}
