/target
/lib
/classes
/checkouts
README.html
.idea
*.iml
*~
*.jar
*.class
.project
*.classpath
*.settings/
.lein-deps-sum
.lein-failures
.lein-plugins

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
