clj/target
cljs/target
cljs/out
/lib
/target
/classes
/checkouts
README.html
.idea
*.iml
*~
*.jar
*.class
.project
*.classpath
*.settings/
.lein-deps-sum
.lein-failures
.lein-plugins
test_config.edn

pom.xml.*
.DS_Store
.lein-repl-history

# Generated on dev mode by the UI part
raw-metadata-str*.xml
project.clj
