{
   :global {:nouns {
                    :author         "著者"
                    :authorization  "承認"
                    :authorizations "承認"
                    :category       "分類"
                    :comment        "コメント"
                    :configuration  "設定"
                    :dashboard      "ダッシュボード"
                    :date           "日付"
                    :deployment     "展開"
                    :description    "説明"
                    :documentation  "ドキュメンテーション"
                    :knowledge-base "ドキュメンテーション"
                    :email          "電子メール"
                    :epub           "ePub"
                    :error          "エラー"
                    :first-name     "名"
                    :group          "基"
                    :html           "HTML"
                    :last-name      "姓"
                    :name           "名前"
                    :organization   "組織"
                    :owner          "所有者"
                    :password       "パスワード"
                    :pdf            "PDF"
                    :profile        "プロフィール"
                    :public         "パブリック"
                    :publisher      "出版社"
                    :regular-user   "通常のユーザー"
                    :state          "状態"
                    :summary        "要約"
                    :super-user     "管理者"
                    :system         "システム"
                    :user           "ユーザー"
                    :username       "ユーザー名"
                    :users          "ユーザー"
                    :value          "値"
                    :version        "バージョン"
                    :versions       "バージョン"
                    }
            :verbs {
                    :delete         "削除"
                    :deploy         "展開する"
                    :download       "ダウンロード"
                    :edit           "編集"
                    :import         "輸入"
                    :login          "ログイン"
                    :logout         "ログアウト"
                    :unpublish      "アンパブリッシュ"
                    :view           "ビュー"
                    }
            }


   :slipstream.ui.views.menubar.unlogged.input.username.placeholder  :global.nouns.username
   :slipstream.ui.views.menubar.unlogged.input.password.placeholder  :global.nouns.password
   :slipstream.ui.views.menubar.unlogged.action.login                :global.verbs.login
   :slipstream.ui.views.menubar.unlogged.action.signup               :global.verbs.signup
   :slipstream.ui.views.menubar.unlogged.action.documentation        :global.nouns.documentation
   :slipstream.ui.views.menubar.unlogged.action.contact-us           "お問い合わせ"

   :slipstream.ui.views.menubar.logged-in.action.dashboard           :global.nouns.dashboard
   :slipstream.ui.views.menubar.logged-in.action.configuration       :global.nouns.configuration
   :slipstream.ui.views.menubar.logged-in.action.system              :global.nouns.system
   :slipstream.ui.views.menubar.logged-in.action.users               :global.nouns.users
   :slipstream.ui.views.menubar.logged-in.action.profile             :global.nouns.profile
   :slipstream.ui.views.menubar.logged-in.action.documentation       :global.nouns.documentation
   :slipstream.ui.views.menubar.logged-in.action.contact-us          "お問い合わせ"
   :slipstream.ui.views.menubar.logged-in.action.logout              :global.verbs.logout


   :slipstream.ui.views.error.page-title                       :global.nouns.error


   :slipstream.ui.views.login.header.title                     "すべてのクラウドにデプロイします。"
   :slipstream.ui.views.login.header.subtitle                  "使用される基本的なIaaSのプラットフォームから独立した残りのマルチクラウド展開の自動化へのゲートウェイ、。詳細は以下のユースケースを参照してください。"
   :slipstream.ui.views.login.header.last-line                 "**無料でお試しくださいませ！**クレジットカード不要に。"
   :slipstream.ui.views.login.input.pick-username.placeholder  "ユーザー名を選択"
   :slipstream.ui.views.login.input.email.placeholder          "あなたのメールアドレスを入力"
   :slipstream.ui.views.login.signup.button.label              "スリップストリームで登録"
   :slipstream.ui.views.login.signup.terms-hint                "クリックするとあなたが私たちの[利用規約](http://ssdocs.sixsq.com/documentation/terms_and_conditions.html)に同意し、「スリップストリームで登録」"

   :slipstream.ui.views.user.header.title.loggedin             "あなたのプロフィール"
   :slipstream.ui.views.user.header.title.not-loggedin         "%sのユーザープロファイル"
   :slipstream.ui.views.user.header.subtitle.super             :global.nouns.super-user
   :slipstream.ui.views.user.header.subtitle.not-super         :global.nouns.regular-user
   :slipstream.ui.views.user.summary                           :global.nouns.summary


   :slipstream.ui.views.tables.header.description              :global.nouns.description
   :slipstream.ui.views.tables.header.value                    :global.nouns.value
   :slipstream.ui.views.tables.header.access-right             "アクセス権"
   :slipstream.ui.views.tables.header.owner                    :global.nouns.owner
   :slipstream.ui.views.tables.header.group                    :global.nouns.group
   :slipstream.ui.views.tables.header.public                   :global.nouns.public
   :slipstream.ui.views.tables.header.version                  :global.nouns.version
   :slipstream.ui.views.tables.header.comment                  :global.nouns.comment
   :slipstream.ui.views.tables.header.author                   :global.nouns.author
   :slipstream.ui.views.tables.header.date                     :global.nouns.date
   :slipstream.ui.views.tables.header.name                     :global.nouns.name
   :slipstream.ui.views.tables.header.html                     :global.nouns.html
   :slipstream.ui.views.tables.header.pdf                      :global.nouns.pdf
   :slipstream.ui.views.tables.header.epub                     :global.nouns.epub
   :slipstream.ui.views.tables.header.username                 :global.nouns.username
   :slipstream.ui.views.tables.header.first-name               :global.nouns.first-name
   :slipstream.ui.views.tables.header.last-name                :global.nouns.last-name
   :slipstream.ui.views.tables.header.organization             :global.nouns.organization
   :slipstream.ui.views.tables.header.state                    :global.nouns.state
   :slipstream.ui.views.tables.header.last-online              "最後のオンライン"

   :slipstream.ui.views.tables.username                        :global.nouns.username
   :slipstream.ui.views.tables.first-name                      :global.nouns.first-name
   :slipstream.ui.views.tables.last-name                       :global.nouns.last-name
   :slipstream.ui.views.tables.organization                    :global.nouns.organization
   :slipstream.ui.views.tables.email                           :global.nouns.email
   :slipstream.ui.views.tables.super?                          "管理者はいませんか？"
   :slipstream.ui.views.tables.creation                        "作成日"
   :slipstream.ui.views.tables.state                           :global.nouns.state
   :slipstream.ui.views.tables.name                            :global.nouns.name
   :slipstream.ui.views.tables.module-version                  :global.nouns.version
   :slipstream.ui.views.tables.description                     :global.nouns.description
   :slipstream.ui.views.tables.comment                         :global.nouns.comment
   :slipstream.ui.views.tables.category                        :global.nouns.category
   :slipstream.ui.views.tables.last-modified                   "最終更新日"
   :slipstream.ui.views.tables.owner                           :global.nouns.owner
   :slipstream.ui.views.tables.inherited-group-members?        "グループのメンバーは親モジュールから継承されていますか？"
   :slipstream.ui.views.tables.group-members                   "グループメンバー"

   :slipstream.ui.views.tables.documentation.open-html         "新しいページで開く"
   :slipstream.ui.views.tables.documentation.open-pdf          "新しいページで開くPDF"
   :slipstream.ui.views.tables.documentation.open-epub         :global.verbs.download

   :slipstream.ui.views.tables.access.get                      :global.verbs.view
   :slipstream.ui.views.tables.access.put                      :global.verbs.edit
   :slipstream.ui.views.tables.access.delete                   :global.verbs.delete
   :slipstream.ui.views.tables.access.create-children          "子どもたちの作成"


   :slipstream.ui.views.welcome.page-title                     "歓迎"
   :slipstream.ui.views.welcome.header.title                   "スリップストリームへようこそ"
   :slipstream.ui.views.welcome.header.subtitle                "ウェルカムページはあなたとあなたと共有したものを含む、すべての現在公開モジュールとルートモジュールが用意されています。"
   :slipstream.ui.views.welcome.app.label.description          :global.nouns.description
   :slipstream.ui.views.welcome.app.label.publisher            :global.nouns.publisher
   :slipstream.ui.views.welcome.app.label.publication-date     :global.nouns.date
   :slipstream.ui.views.welcome.app.label.deploy               :global.verbs.deploy
   :slipstream.ui.views.welcome.section.app-store.title        "App Store"
   :slipstream.ui.views.welcome.section.shared-projects.title  "共有プロジェクト"


   :slipstream.ui.views.secondary-menu-actions.new-project     "新たなプロジェクト"
   :slipstream.ui.views.secondary-menu-actions.new-image       "新しいマシンイメージ"
   :slipstream.ui.views.secondary-menu-actions.new-deployment  "新展開"
   :slipstream.ui.views.secondary-menu-actions.import          :global.verbs.import
   :slipstream.ui.views.secondary-menu-actions.new-user        "新規ユーザー"
   :slipstream.ui.views.secondary-menu-actions.edit-user       "編集者"
   :slipstream.ui.views.secondary-menu-actions.run             "成す..."
   :slipstream.ui.views.secondary-menu-actions.edit            :global.verbs.edit
   :slipstream.ui.views.secondary-menu-actions.copy            "複写..."
   :slipstream.ui.views.secondary-menu-actions.unpublish       :global.verbs.unpublish


   :slipstream.ui.views.users.header.title                     :global.nouns.users
   :slipstream.ui.views.users.header.subtitle                  "スリップストリームサービスのユーザーを構成します。"
   :slipstream.ui.views.users.content.title                    :global.nouns.users

   :slipstream.ui.views.documentation.header.title             :global.nouns.documentation
   :slipstream.ui.views.documentation.header.subtitle          "一目でスリップストリーム技術文書"
   :slipstream.ui.views.documentation.content.title            :global.nouns.documentation
   :slipstream.ui.views.documentation.tutorial.title           "ユーザーガイドとチュートリアル"
   :slipstream.ui.views.documentation.administrator-manual.title  "管理者マニュアル"
   :slipstream.ui.views.documentation.terms-of-service.title   "利用規約"

   :slipstream.ui.views.dashboard.header.title                 :global.nouns.dashboard
   :slipstream.ui.views.dashboard.header.subtitle              "制御し、クラウドの利用状況を監視"

   :slipstream.ui.views.versions.header.title                  "%sの歴史"
   :slipstream.ui.views.versions.header.subtitle.one-version   "この%sのつのバージョンがあります。"
   :slipstream.ui.views.versions.header.subtitle.multiple-versions "この%sの%sバージョンがあります。"
   :slipstream.ui.views.versions.content.title                 :global.nouns.versions
   :slipstream.ui.views.versions.category.deployment           :global.nouns.deployment

   :slipstream.ui.views.module.header.title                    "%1$s - %2$s"
   :slipstream.ui.views.module.header.subtitle                 "バージョン: %1$s"
   :slipstream.ui.views.module.alert.old-version               "あなたは、このモジュールの最新バージョンではありません。"
   :slipstream.ui.views.module.section.summary.title           :global.nouns.summary
   :slipstream.ui.views.module.section.authorizations.title    :global.nouns.authorizations
}
