<!DOCTYPE html>
<html>
<head>
  <title>SlipStream Base Template</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <!-- Specifics for portable devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Android Devices -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS Devices -->
  <meta name="apple-mobile-web-app-title" content="SlipStream">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="images/apple-touch-icon-iphone-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-ipad-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-iphone-retina-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-ipad-retina-152x152.png">

  <!-- Startup image for iOS 6 & 7 iPhone 5 -->
  <link href="images/apple-touch-startup-image-640x1096.png"
        media="(device-width: 320px) and (device-height: 568px)
           and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!--
  Future Pointers:

  iOS 7 Web App
  - https://gist.github.com/tfausak/2222823

  Prevent links in standalone web apps opening Mobile Safari:
  - https://gist.github.com/kylebarrow/1042026

  Optimizing Mobile Web Apps for iOS | Treehouse Blog:
  - http://blog.teamtreehouse.com/optimizing-mobile-web-apps-ios

  Remove rubberband scrolling from web apps on mobile safari (iOS)
  - https://gist.github.com/amolk/1599412
  -->

  <base href="../">

  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css" />
  <!-- <link href="external/bootstrap/css/bootstrap-theme.min.css" data-href="external/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet"> -->

  <!-- Internal CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/icons.css"/>
  <link rel="stylesheet" type="text/css" href="css/topbar.css"/>
  <link rel="stylesheet" type="text/css" href="css/header.css"/>
  <link rel="stylesheet" type="text/css" href="css/secondary-menubar.css"/>
  <link rel="stylesheet" type="text/css" href="css/content.css"/>
  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
  <link rel="stylesheet" type="text/css" href="css/error.css"/>

</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top ss-alert-container-fixed-top">
    <div class="ss-alert-offset-placeholder">
    </div>
    <div id="ss-alert-container-floating" class="container">
    </div><!--/#ss-alert-container-floating -->
  </div>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="topbar">
    <div id="menubar">
    </div><!--/#menubar -->
    <!-- Options: "alert-danger" "alert-warning" "alert-info" -->
  </div><!--/.navbar -->

  <div id="header" class="jumbotron">
    <div class="container">
      <div id="header-content" class="ss-header">
        <div class="row">
          <div class="col-sm-1 text-left hidden-xs ss-header-title-icon-col">
            <div class="ss-header-title-icon">
              <span class="ss-header-icon-error glyphicon glyphicon-remove"></span>
              <span class="ss-header-icon glyphicon glyphicon-picture"></span>
            </div>
          </div> <!-- /col -->
          <div class="col-sm-8 text-left ss-header-title-col">
            <div>
              <span class="ss-header-error-status-code"></span>
              <div class="ss-header-title">Welcome to SlipStream</div>
            </div>
            <p class="ss-header-subtitle">Your way to multi-cloud deployments.</p>
            <p class="ss-header-second-subtitle">And much more.</p>
          </div> <!-- /col -->
          <div class="col-sm-3 ss-header-image-col">
              <div class="ss-header-image-container">
                <img class="ss-image-preloader" src="http://dummyimage.com/350x200/aa0000/fff.png">
              </div> <!-- /.ss-app-image-container -->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div><!--/#header-content -->
    </div>
  </div><!--/#header -->

<!-- The #ss-secondary-menubar-placeholder will maintain the body layout when the
  #ss-secondary-menubar-container is affixed, avoiding sudden mouvements of the layout. -->
  <div id="ss-secondary-menubar-placeholder"></div>

  <div id="ss-secondary-menubar-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 text-left">
          <div id="ss-breadcrumb-container">
            <ol class="breadcrumb">
              <li class="ss-breadcrumb-item">
                <a href="/welcome">
                  <span class="ss-breadcrumb-item-icon glyphicon glyphicon-home"></span>
                  <span class="ss-breadcrumb-item-text">Text</span>
                </a>
              </li>
              <li class="ss-breadcrumb-item disabled">
                <a>
                  <span class="ss-breadcrumb-item-icon glyphicon glyphicon-folder-open"></span>
                  <span class="ss-breadcrumb-item-text">
                    Modules
                  </span>
                </a>
              </li>
              <li class="ss-breadcrumb-item">
                <a href="/welcome">
                  <span class="glyphicon glyphicon-hdd"></span>
                  <span class="ss-breadcrumb-item-text">
                    module-name
                  </span>
                </a>
              </li>
              <li class="ss-breadcrumb-item disabled">
                <a>
                  <span class="glyphicon glyphicon-hdd"></span>
                  <span class="ss-breadcrumb-item-text">
                    module-name
                  </span>
                </a>
              </li>
              <li class="ss-breadcrumb-item disabled">
                <a>
                  <span class="glyphicon glyphicon-hdd"></span>
                  <span class="ss-breadcrumb-item-text">
                    477
                  </span>
                </a>
              </li>
            </ol>
          </div> <!-- /#ss-breadcrumb-container -->
        </div> <!-- /col -->
        <div class="col-xs-6 text-right">
          <div id="ss-secondary-menu">
            <div class="btn-group">
              <button class="ss-secondary-btn ss-secondary-menu-main-action ss-secondary-menu-action-btn btn btn-default btn-xs">
                <span class="glyphicon glyphicon-folder-open"></span>
                <span>Main action</span>
              </button>
              <button type="button" class="ss-secondary-btn ss-secondary-extra-actions-toggle btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right navbar-inverse ss-secondary-menu-extra-actions-container" role="menu">
                <li class="ss-secondary-menu-extra-action">
                  <a class="ss-secondary-menu-action-btn" data-toggle="modal">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span>Extra action</span>
                  </a>
                </li>
                <li class="ss-secondary-menu-extra-action">
                  <a class="ss-secondary-menu-action-btn" data-toggle="modal">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span>2nd extra action</span>
                  </a>
                </li>
              </ul>
            </div>
          </div> <!-- /#ss-secondary-menu -->
        </div> <!-- /col -->
      </div> <!-- /row -->
    </div> <!--/.container -->
  </div> <!-- /.ss-secondary-menubar-container -->

  <div id="ss-alert-container-fixed" class="container">

    <noscript>
      <div role="alert" class="alert-danger alert">
      <span>
        </span><h3>
          <span class="glyphicon glyphicon-remove"></span>
          <span class="alert-title ss-noscript-error-title">
            Error - JavaScript disabled
          </span>
        </h3>
        <div class="alert-msg-container">
          <div class="alert-msg ss-noscript-error-subtitle">
            SlipStream requires JavaScript. Please enable it!
          </div>
        </div>
      </div>
    </noscript>

  </div><!--/#ss-alert-container-fixed -->

  <div id="ss-content" class="container">
    <div class="text-center" style="min-height: 500px; padding-top: 200px; background-color: rgb(182,182,182);">
      <h1>This is the placeholder for the page content.</h1>
      Adding <code>.ss-error-page</code> to <code>body</code> turns this page into an error page,
      i.e. red title and status code placeholder (with <code>500</code> as a default).
    </div>
  </div><!--/#ss-content.container -->

  <div id="footer" class="footer">
    <div class="container">
      <div class="row text-muted">
        <div class="col-xs-6 col-sm-4 text-left">
          Copyright &copy; 2014 <a href="http://sixsq.com">SixSq</a>
        </div>
        <div class="col-sm-4 text-center hidden-xs">
          <a href="http://swissmadesoftware.org"><img src="images/logo_swiss_made_software.png"></a>
        </div>
        <div class="col-xs-6 col-sm-4 text-right">
          <span class="hidden-xs">Powered by </span>SlipStream&nbsp;&reg;&nbsp;&nbsp;v<span id="release-version">0.0.0</span>
        </div>
      </div>
    </div>
  </div><!--/#footer -->

  <div id="ss-modal-dialogs-placeholder">
  </div>

  <div id="bottom-scripts">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="external/jquery/js/jquery-1.11.1.min.js"></script>
    <script src="external/jquery-color/js/jquery.color.plus-names-2.1.2.min.js"></script>
    <script src="external/bootstrap/js/bootstrap.min.js"></script>

    <!-- From: http://bootstrapvalidator.com : -->
    <script src="external/bootstrapValidator/js/bootstrapValidator.min.js"></script>

    <!-- From: http://mimo84.github.io/bootstrap-maxlength/ -->
    <script src="external/bootstrap-maxlength/js/bootstrap-maxlength.min.js"></script>

    <!-- Source: https://github.com/desandro/imagesloaded -->
    <script src="external/imagesloaded/js/imagesloaded.min.js"></script>

    <script src="js/util.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/request.js"></script>
    <script src="js/model.js"></script>
    <script src="js/base.js"></script>
    <script src="js/secondary_menu_actions.js"></script>
</div>
</body>
</html>
