<!DOCTYPE html>
<html>
  <head>
    <base href="../../../../../resources/static_content/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <title>SlipStream Icons</title>

    <link rel="stylesheet" type="text/css" href="external/icon-font/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/icons.css"/>
  </head>

  <body>
    <div class="container">

      <h1>Icon list</h1>

      <p>
        The icons that are used dynamically are defined in <code>slipstream.ui.util.icons</code>.
        Some other icons (e.g. logout icon) are only hard-coded in the HTML template.
      </p>

      <p class="text-muted">
        Note: This list is for documentation purposes only and the icons here are not (yet!) taken into account.
        <!-- TODO: Make <code>slipstream.ui.util.icons</code> retrieve icons from this template. -->
      </p>

      <table class="table table-striped table-hover table-responsive">
        <thead>
          <th>Icon legacy</th>
          <th>Name legacy</th>
          <th>Icon new</th>
          <th>Name new</th>
          <th>Usage description</th>
        </thead>

        <tr>
          <td>-</td>
          <td>-</td>
          <td class="h3"><span class="glyphicon glyphicon-log-in"></span></td>
          <td><code>glyphicon-log-in</code></td>
          <td>Login: menu item</td>
        </tr>

        <tr>
          <td><i class="icon-signout icon-2x"></i></td>
          <td><code>icon-signout</code></td>
          <td class="h3"><span class="glyphicon glyphicon-log-out"></span></td>
          <td><code>glyphicon-log-out</code></td>
          <td>Logout: menu item</td>
        </tr>

        <tr>
          <td>-</td>
          <td>-</td>
          <td class="h3"><span class="glyphicon glyphicon-flash"></span></td>
          <td><code>glyphicon-flash</code></td>
          <td>Reset password menu item.</td>
        </tr>

        <tr>
          <td>-</td>
          <td>-</td>
          <td class="h3"><span class="glyphicon glyphicon-envelope"></span></td>
          <td><code>glyphicon-envelope</code></td>
          <td>Contact us: menu item</td>
        </tr>

        <tr>
          <td><i class="icon-home icon-2x"></i></td>
          <td><code>icon-home</code></td>
          <td class="h3"><span class="glyphicon glyphicon-home"></span></td>
          <td><code>glyphicon-home</code></td>
          <td>Welcome page: breadcrumbs and page header.</td>
        </tr>

      </table>

      <h3>Resource icons</h3>

      <table class="table table-striped table-hover table-responsive">

        <tr>
          <td><i class="icon-user icon-2x"></i></td>
          <td><code>icon-user</code></td>
          <td class="h3"><span class="glyphicon glyphicon-user"></span></td>
          <td><code>glyphicon-user</code></td>
          <td>User: menu items, user item and user profile page header.</td>
        </tr>

        <tr>
          <td><i class="icon-group icon-2x"></i></td>
          <td><code>icon-group</code></td>
          <td class="h3"><span class="glyphicon glyphicon-users"></span></td>
          <td><code>glyphicon-users</code></td>
          <td>Users: menu item and page header.</td>
        </tr>

        <tr>
          <td><i class="icon-folder-open icon-2x"></i></td>
          <td><code>icon-folder-open</code></td>
          <td class="h3"><span class="glyphicon glyphicon-folder-open"></span></td>
          <td><code>glyphicon-folder-open</code></td>
          <td>Project: menu items, project item and project page header.</td>
        </tr>

        <tr>
          <td><i class="icon-desktop icon-2x"></i></td>
          <td><code>icon-desktop</code></td>
          <td class="h3"><span class="glyphicon glyphicon-hdd"></span></td>
          <td><code>glyphicon-hdd</code></td>
          <td>Image: menu items, image item and image page header.</td>
        </tr>

        <tr>
          <td><i class="icon-sitemap icon-2x"></i></td>
          <td><code>icon-sitemap</code></td>
          <td class="h3"><span class="glyphicon glyphicon-th"></span></td>
          <td><code>glyphicon-th</code></td>
          <td>Deployment: menu items, deployment item and deployment page header.</td>
        </tr>

        <tr>
          <td><i class="icon-dashboard icon-2x"></i></td>
          <td><code>icon-dashboard</code></td>
          <td class="h3"><span class="glyphicon glyphicon-dashboard"></span></td>
          <td><code>glyphicon-dashboard</code></td>
          <td>Dashboard: in menu item and page header.</td>
        </tr>

        <tr>
          <td><i class="icon-info-sign icon-2x"></i></td>
          <td><code>icon-info-sign</code></td>
          <td class="h3"><span class="glyphicon glyphicon-book"></span></td>
          <td><code>glyphicon-book</code></td>
          <td>Documentation: in menu item, page header and documentation item</td>
        </tr>

        <tr>
          <td><i class="icon-wrench icon-2x"></i></td>
          <td><code>icon-wrench</code></td>
          <td class="h3"><span class="glyphicon glyphicon-cog"></span></td>
          <td><code>glyphicon-cog</code></td>
          <td>Configuration: in menu item and page header.</td>
        </tr>

        <tr>
          <td>-</td>
          <td>-</td>
          <td class="h3"><span class="glyphicon glyphicon-th-list"></span></td>
          <td><code>glyphicon-th-list</code></td>
          <td>Resource catalog: in menu item and page header.</td>
        </tr>

      </table>

      <h3>Menu action icons</h3>

      <table class="table table-striped table-hover table-responsive">

        <tr>
          <td><i class="icon-plus icon-2x"></i></td>
          <td><code>icon-plus</code></td>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-add"></span></td>
          <td>icon class + <code>ss-icon-overlay-action-add</code></td>
          <td>'Add' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-copy icon-2x"></i></td>
          <td><code>icon-copy</code></td>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-copy-to"></span></td>
          <td>icon class + <code>ss-icon-overlay-action-copy-to</code></td>
          <td>'Copy to' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-edit icon-2x"></i></td>
          <td><code>icon-edit</code></td>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-edit"></span></td>
          <td>icon class + <code>ss-icon-overlay-action-edit</code></td>
          <td>'Edit' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-save icon-2x"></i></td>
          <td><code>icon-save</code></td>
          <td class="h3"><span class="glyphicon glyphicon-floppy-disk"></span></td>
          <td><code>glyphicon-floppy-disk</code></td>
          <td>'Save' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-cloud-upload icon-2x"></i></td>
          <td><code>icon-cloud-upload</code></td>
          <td class="h3"><span class="glyphicon glyphicon-floppy-open"></span></td>
          <td><code>glyphicon-floppy-open</code></td>
          <td>'Import' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-stop icon-2x"></i></td>
          <td><code>icon-stop</code></td>
          <td class="h3"><span class="glyphicon glyphicon-stop"></span></td>
          <td><code>glyphicon-stop</code></td>
          <td>'Cancel edit' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-stop icon-2x"></i></td>
          <td><code>icon-stop</code></td>
          <td class="h3"><span class="glyphicon glyphicon-cancel-edit"></span></td>
          <td><code>glyphicon-cancel-edit</code></td>
          <td>Alternative 'Cancel edit' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-edit icon-2x"></i></td>
          <td><code>icon-edit</code></td>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-remove"></span></td>
          <td>icon class + <code>ss-icon-overlay-action-remove</code></td>
          <td>'Remove' action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-trash icon-2x"></i></td>
          <td><code>icon-trash</code></td>
          <td class="h3"><span class="glyphicon glyphicon-trash"></span></td>
          <td><code>glyphicon-trash</code></td>
          <td>Generic 'Remove' action: menu items.</td>
        </tr>

      </table>

      <h3>Run module menu action icons</h3>

      <table class="table table-striped table-hover table-responsive">

        <tr>
          <td><i class="icon-rocket icon-2x"></i></td>
          <td><code>icon-rocket</code></td>
          <td class="h3"><span class="glyphicon glyphicon-cloud-upload"></span></td>
          <td><code>glyphicon-cloud-upload</code></td>
          <td>Run action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-legal icon-2x"></i></td>
          <td><code>icon-legal</code></td>
          <td class="h3"><span class="glyphicon glyphicon-tower"></span></td>
          <td><code>glyphicon-tower</code></td>
          <td>Build image menu action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-ban-circle icon-2x"></i></td>
          <td><code>icon-ban-circle</code></td>
          <td class="h3"><span class="glyphicon glyphicon-ban-circle"></span></td>
          <td><code>glyphicon-ban-circle</code></td>
          <td>Terminate run action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-globe icon-2x"></i></td>
          <td><code>icon-globe</code></td>
          <td class="h3"><span class="glyphicon glyphicon-eye-open"></span></td>
          <td><code>glyphicon-eye-open</code></td>
          <td>Publish module action: menu items.</td>
        </tr>

        <tr>
          <td><i class="icon-globe icon-2x"></i></td>
          <td><code>icon-globe</code></td>
          <td class="h3"><span class="glyphicon glyphicon-eye-close"></span></td>
          <td><code>glyphicon-eye-close</code></td>
          <td>Un-publish module action: menu items. Consider using <span class="glyphicon glyphicon-eye-open ss-icon-overlay-action-remove"></span>.</td>
        </tr>

      </table>

      <h3>Input validation icons</h3>

      <table class="table table-striped table-hover table-responsive">

        <tr>
          <td>
            <div class="form-group has-success has-feedback">
              <label class="control-label sr-only" for="inputSuccess2">Input with success</label>
              <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            </div>
          </td>
          <td><code>glyphicon-ok</code></td>
          <td>Input is successfully validated.</td>
        </tr>

        <tr>
          <td>
            <div class="form-group has-warning has-feedback">
              <label class="control-label sr-only" for="inputSuccess2">Input with warning</label>
              <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
              <span class="glyphicon glyphicon-refresh form-control-feedback" aria-hidden="true"></span>
            </div>
          </td>
          <td><code>glyphicon-refresh</code></td>
          <td>Input is being validated.</td>
        </tr>

        <tr>
          <td>
            <div class="form-group has-warning has-feedback">
              <label class="control-label sr-only" for="inputSuccess2">Input with warning</label>
              <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
            </div>
          </td>
          <td><code>glyphicon-warning-sign</code></td>
          <td>Input is successfully validated but it has a warning.</td>
        </tr>

        <tr>
          <td>
            <div class="form-group has-error has-feedback">
              <label class="control-label sr-only" for="inputSuccess2">Input with error</label>
              <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
          </td>
          <td><code>glyphicon-remove</code></td>
          <td>Input is not successfully validated and form cannot be submitted.</td>
        </tr>

      </table>

      <h3>Other icons</h3>

      <table class="table table-striped table-hover table-responsive">

        <tr>
          <td><i class="icon-chevron-up icon-2x"></i></td>
          <td><code>icon-chevron-up</code></td>
          <td class="h3"><span class="glyphicon glyphicon-chevron-up"></span></td>
          <td><code>glyphicon-chevron-up</code></td>
          <td>'Close' action in accordion sections</td>
        </tr>

        <tr>
          <td><i class="icon-chevron-down icon-2x"></i></td>
          <td><code>icon-chevron-down</code></td>
          <td class="h3"><span class="glyphicon glyphicon-chevron-down"></span></td>
          <td><code>glyphicon-chevron-down</code></td>
          <td>'Open' action in accordion sections</td>
        </tr>

        <tr>
          <td><i class="icon-question-sign icon-2x"></i></td>
          <td><code>icon-question-sign</code></td>
          <td class="h3"><span class="glyphicon glyphicon-question-sign"></span></td>
          <td><code>glyphicon-question-sign</code></td>
          <td>Help hints in tables.</td>
        </tr>

        <tr>
          <td><i class="icon-refresh icon-2x"></i></td>
          <td><code>icon-refresh</code></td>
          <td class="h3"><span class="glyphicon glyphicon-refresh"></span></td>
          <td><code>glyphicon-refresh</code></td>
          <td>icon for reloading configuration file; use in button</td>
        </tr>

        <tr>
          <td><i class="icon-warning-sign icon-2x"></i></td>
          <td><code>icon-warning-sign</code></td>
          <td class="h3"><span class="glyphicon glyphicon-exclamation-sign"></span></td>
          <td><code>glyphicon-exclamation-sign</code></td>
          <td>icon for errors; use in flash messages and in banners</td>
        </tr>

      </table>

      <h3>Unused lecagy icons</h3>

      <table class="table table-striped table-hover table-responsive">

        <tr>
          <td><i class="icon-bar-chart icon-2x"></i></td>
          <td><code>icon-bar-chart</code></td>
          <td>icon for resource utilization resource</td>
        </tr>

        <tr>
          <td><i class="icon-remove-circle icon-2x"></i></td>
          <td><code>icon-remove-circle</code></td>
          <td>icon for removing property, etc.; use as button</td>
        </tr>


      </table>


      <h1>Icon overlay list</h1>

      <p>
        The icons can be decorated with overlays in <code>slipstream.ui.util.icons</code>.
        Following are the available overlay classes.

        NB: This is still in beta. The overlays still disrupt the layout around the icon <code>span</code>.
      </p>

      <table class="table table-striped table-hover table-responsive">
        <thead>
          <th>Icon overlay</th>
          <th>Class name</th>
          <th>Usage description</th>
        </thead>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-star"></span></td>
          <td><code>ss-icon-overlay-star</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-add"></span></td>
          <td><code>ss-icon-overlay-action-add</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-copy-to"></span></td>
          <td><code>ss-icon-overlay-action-copy-to</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-remove"></span></td>
          <td><code>ss-icon-overlay-action-remove</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-action-edit"></span></td>
          <td><code>ss-icon-overlay-action-edit</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-success"></span></td>
          <td><code>ss-icon-overlay-success</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-warning"></span></td>
          <td><code>ss-icon-overlay-warning</code></td>
          <td>...</td>
        </tr>

        <tr>
          <td class="h3"><span class="glyphicon glyphicon-stop ss-icon-overlay-error"></span></td>
          <td><code>ss-icon-overlay-error</code></td>
          <td>...</td>
        </tr>

      </table>
    </div> <!-- /.container -->
  </body>
</html>
