<!DOCTYPE html>
<html>
<head>
  <base href="../../../../../resources/static_content/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Singin Template</title>

  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/semantic-fix-conflicts.css"/>
  <!-- Internal CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
  <div id="header" class="jumbotron ss-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-8">
          <h1 class="ss-header-title">Title.</h1>
          <p class="ss-header-subtitle">
            Subtitle.
          </p>
            <p class="ss-header-last-line">
              <!-- <strong>Try it for free!</strong> No credit card needed. -->
              Last line.
            </p>
          </div>
          <div class="col-sm-4 col-lg-3 col-lg-offset-1" id="create-account-form" >
            <form id="register" autocomplete="off" class="form-horizontal">

            <div class="form-group">
              <button class="btn btn-default btn-block ss-btn-login"
                      type="button"
                      onclick="document.querySelector('.navbar-toggle').click();sixsq.slipstream.webui.authn.views.open_authn_modal()">
                Login to SlipStream
              </button>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block ss-btn-signup"
                      type="button"
                      onclick="document.querySelector('.navbar-toggle').click();sixsq.slipstream.webui.authn.views.open_sign_up_modal()">
                Sign up for SlipStream
              </button>
              <small class="help-block ss-terms-hint">
                By clicking "Sign up for SlipStream", you agree to our <a href="https://sixsq.com/terms/general-terms-and-conditions">terms of service</a>.
              </small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="ss-content" class="container">
    <div class="text-center">
      <img class="ss-themable" src="images/login_page_content_big_image.png" width="100%"  style="max-width:1000px;">
    </div>
  </div> <!--/#ss-content --> <!-- /.container -->

  <div id="bottom-scripts">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="external/jquery/js/jquery-1.11.1.min.js"></script>

    <!-- From: http://bootstrapvalidator.com : -->
    <script src="external/bootstrapValidator/js/bootstrapValidator.min.js"></script>

    <script src="js/util.js"></script>
    <!-- <script src="js/slipstream.js"></script> -->
    <script src="js/alert.js"></script>
    <script src="js/request.js"></script>
    <script src="js/login.js"></script>
    <script src="js/webui.js"></script>
    <script src="js/webui_init.js"></script>
  </div>
</body>
</html>
