<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <base href="../../../../../resources/static_content/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Menubar Template</title>
  <!-- External CSS Stylesheets -->
  <!-- <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/> -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>
  <!-- Internal CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/menubar.css" />
</head>
<body>

  <h1 class="container">
    Menubar when not logged in
  </h1>


  <div class="navbar navbar-default">
    <div class="menubar ss-menubar-unlogged">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"><img class="ss-themable" src="images/logo-menubar-unlogged.png"></a>




        </div><!--/.navbar-header -->

        <div class="navbar-collapse collapse">
          <span id="hidden-msg-container" style="display: none"></span>

          <form id="login-github" action="/login" method="post" role="form" class="navbar-form navbar-right">
            <div class="form-group">
              <input height="36" width="36" type="image" name="submit" src="images/github-icon.png" alt="github" />
              <input type="hidden" name="authn-method" value="github" />
            </div>
          </form>

          <form id="login-cyclone" action="/login" method="post" role="form" class="navbar-form navbar-right">
            <div class="form-group">
              <input height="36" width="36" type="image" name="submit" src="images/cyclone.png" alt="cyclone" />
              <input type="hidden" name="authn-method" value="cyclone" />
            </div>
          </form>

          <form id="login" class="navbar-form navbar-right" role="form" method="post">
            <input type="hidden" name="authn-method" value="internal" />
          <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input name="username" class="form-control ss-input-username" type="text" placeholder="Username">
          </div>
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input name="password" class="form-control ss-input-password" type="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default btn-block visible-xs"><span class="glyphicon glyphicon-log-in"></span> <span class="ss-action-login">Log in</span></button>
          <button class="btn btn-danger btn-block ss-login-error-on-mobile-alert"><span class="glyphicon glyphicon-exclamation-sign"></span> <span class="ss-login-error-on-mobile-alert-message">Wrong Credendials</span></button>
          <ul class="nav navbar-nav visible-xs">
            <li><a href="#" data-toggle="modal" data-target="#ss-reset-password-dialog"><span class="glyphicon glyphicon-flash"></span> <span class="ss-action-reset-password">Reset password</span></a></li>
            <li class="divider"></li>
            <li><a href="http://ssdocs.sixsq.com" target="_blank"><span class="glyphicon glyphicon-book"></span> <span class="ss-action-documentation">Documentation</span></a></li>
            <li><a href=" http://support.sixsq.com/solution/categories" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> <span class="ss-action-knowledge-base">Knowledge Base</span></a></li>
            <li class="ss-menu-item-support"><a href="mailto:support@example.org?subject=Support%20question"><span class="glyphicon glyphicon-envelope"></span> <span class="ss-action-support">support</span></a></li>
          </ul>
          <div class="btn-group hidden-xs">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> <span class="ss-action-login">Log in</span></button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-toggle="modal" data-target="#ss-reset-password-dialog"><span class="glyphicon glyphicon-flash"></span> <span class="ss-action-reset-password">Reset password</span></a></li>
              <li class="divider"></li>
              <li><a href="http://ssdocs.sixsq.com" target="_blank"><span class="glyphicon glyphicon-book"></span> <span class="ss-action-documentation">Documentation</span></a></li>
              <li><a href=" http://support.sixsq.com/solution/categories" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> <span class="ss-action-knowledge-base">Knowledge Base</span></a></li>
              <li class="ss-menu-item-support"><a href="mailto:support@example.org?subject=Support%20question"><span class="glyphicon glyphicon-envelope"></span> <span class="ss-action-support">support</span></a></li>
            </ul>
          </div>
        </form>
      </div><!--/.navbar-collapse -->
    </div><!--/.container -->
  </div><!--/.ss-menubar-unlogged .menubar -->
</div><!--/.navbar -->

<hr>

<h1 class="container">
  Menubar when logged in
</h1>

<div class="navbar navbar-default">
  <div class="menubar ss-menubar-logged-in">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="ss-themable" src="images/logo-menubar-logged-in.png"></a>
      </div><!--/.navbar-header -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="active ss-action-dashboard" href="/dashboard">dashboard</a></li>
          <li><a class="ss-action-appstore" href="/appstore">app atore</a></li>
          <li><a class="ss-action-modules ss-action-module" href="/module">modules</a></li>
          <li class="ss-action-service-catalog-menu-item"><a class="ss-action-service-catalog" href="/service_catalog">service catalog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle ss-menubar-super-user-item" data-toggle="dropdown"><span class="ss-action-configuration">configuration</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/configuration"><span class="glyphicon glyphicon-cog"></span> <span class="ss-action-system">system</span></a></li>
              <li class="ss-action-service-catalog-menu-item"><a href="/service_catalog"><span class="glyphicon glyphicon-th-list"></span> <span class="ss-action-service-catalog">service catalog</span></a></li>
              <li><a href="/users"><span class="glyphicon glyphicon-user"></span> <span class="ss-action-users">users</span></a></li>
            </ul>
          </li>
          <li class="ss-menu-item-support"><a href="mailto:support@example.org?subject=Support%20question"><span class="ss-action-support">support</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="ss-action-help">help</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="ss-action-start-tour"><a onclick="SlipStream.util.tour.start()"><span class="glyphicon glyphicon-comment"></span> <span class="ss-action-label">guided tour</span></a></li>
              <li><a href="http://ssdocs.sixsq.com" target="_blank"><span class="glyphicon glyphicon-book"></span> <span class="ss-action-documentation">documentation</span></a></li>
              <li><a href=" http://support.sixsq.com/solution/categories" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> <span class="ss-action-knowledge-base">knowledge base</span></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="ss-menubar-username">username</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="ss-menubar-user-profile-anchor" href="/user/username"><span class="glyphicon glyphicon-user"></span> <span class="ss-action-profile">profile</span></a></li>
              <li class="divider"></li>
              <li><a href="/event"><span class="glyphicon glyphicon-flash"></span> <span class="ss-action-events">events</span></a></li>
              <li><a href="/usage"><span class="glyphicon glyphicon-time"></span> <span class="ss-action-usage">usage</span></a></li>
              <li class="divider"></li>
              <li><a class="ss-logout-action"><span class="glyphicon glyphicon-log-out"></span> <span class="ss-action-logout">Logout</span></a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div><!--/.container -->
  </div><!--/.ss-menubar-logged-in .menubar -->
</div><!--/.navbar -->

<div class="container">
  <p>The dropdown "Configuration" appears only for super-users.</p>
</div> <!-- /.container -->

<div id="bottom-scripts">
  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="external/jquery/js/jquery-1.11.1.min.js"></script>
  <script src="external/bootstrap/js/bootstrap.min.js"></script>

  <!-- From: http://bootstrapvalidator.com : -->
  <script src="external/bootstrapValidator/js/bootstrapValidator.min.js"></script>

  <script src="js/util.js"></script>
  <script src="js/alert.js"></script>
  <script src="js/request.js"></script>
  <script src="js/menubar.js"></script>
</div>
</body>
</html>
