<!DOCTYPE html>
<html>
<head>
  <base href="../../../../../resources/static_content/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Modal dialogs</title>
  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/modal_dialogs.css"/>
</head>
<body>

  <div class="container">
    <h1>Modal dialogs</h1>
    <p>
      Other options include:
    </p>

    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Option</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>keyboard  boolean true</code>
          </td>
          <td>Closes the modal when escape key is pressed.</td>
        </tr>
      </tbody>
    </table>
    <p>
      From: <a href="http://getbootstrap.com/javascript/#modals">http://getbootstrap.com/javascript/#modals</a>
    </p>
    <p>
      Note that all labels and wording appearing here is only as placeholder and everything is overriden with in the Cloujure generation with localized strings.
    </p>

    <hr>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-save-dialog">
      Launch demo <code>#ss-save-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-save-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-save-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-primary">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-save-dialog-label">Save module changes</h4>
          </div>
          <div class="modal-body">
            <textarea id="ss-commit-message" class="form-control" placeholder="Commit message" rows="3"></textarea>
            <br>
            <div class="ss-dialog-footnote text-muted">
              Hold down <code>ALT</code> when saving to skip this confirmation and the commit message.
            </div> <!-- /.ss-save-dialog-footnote -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-save-btn" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-delete-dialog">
      Launch demo <code>#ss-delete-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-delete-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-delete-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-delete-dialog-label">Delete module</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the module 'example/some/module/name?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger ss-ok-btn ss-delete-btn" data-dismiss="modal">Delete module</button>
          </div>
        </div>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-image-chooser-dialog">
      Launch demo <code>#ss-image-chooser-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-image-chooser-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-image-chooser-dialog-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content panel-primary">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-image-chooser-dialog-label">Choose an image</h4>
          </div>
          <div class="modal-body">
            <div class="ss-iframe-container">
              <iframe src="/?chooser=true" frameborder="0" seamless="seamless"></iframe>
              <div class="ss-shadow ss-shadow-bottom"></div>
            </div> <!-- /.ss-iframe-container -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-select-exact-version-btn" data-dismiss="modal">Select exact version</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-select-btn" data-dismiss="modal">Select</button>
          </div>
        </div>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-terminate-deployment-dialog">
      Launch demo <code>#ss-terminate-deployment-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-terminate-deployment-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-terminate-deployment-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-terminate-deployment-dialog-label">Terminate deployment</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to terminate all virtual machines running in this deployment?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger ss-ok-btn" data-dismiss="modal">Terminate</button>
          </div>
        </div>
      </div>
    </div>


    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-publish-module-confirmation-dialog">
      Launch demo <code>#ss-publish-module-confirmation-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-publish-module-confirmation-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-publish-module-confirmation-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-primary">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-publish-module-confirmation-dialog-label">Publish module</h4>
          </div>
          <div class="modal-body">
            <div class="ss-dialog-body-text">
              Published modules appear in the App Store.
            </div> <!-- /.ss-dialog-body-text -->
            <br>
            <div class="ss-dialog-footnote text-muted">
              Please note that the access rights still apply for published modules.
            </div> <!-- /.ss-save-dialog-footnote -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-publish-btn" data-dismiss="modal">Publish module</button>
          </div>
        </div>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-unpublish-module-confirmation-dialog">
      Launch demo <code>#ss-unpublish-module-confirmation-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-unpublish-module-confirmation-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-unpublish-module-confirmation-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-unpublish-module-confirmation-dialog-label">Unpublish module</h4>
          </div>
          <div class="modal-body">
            <div class="ss-dialog-body-text">
              If you unpublish this module it will not be available anymore on the App Store.
            </div> <!-- /.ss-dialog-body-text -->
            <br>
            <div class="ss-dialog-footnote text-muted">
              Please note that the access rights still apply for published modules.
            </div> <!-- /.ss-save-dialog-footnote -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger ss-ok-btn ss-unpublish-btn" data-dismiss="modal">Unpublish module</button>
          </div>
        </div>
      </div>
    </div>


    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-copy-module-dialog">
      Launch demo <code>#ss-copy-module-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-copy-module-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-copy-module-dialog-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <form class="form" role="form" id="ss-module-copy-form">
          <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="ss-copy-module-dialog-label">Copy module</h4>
            </div>
            <div class="modal-body">
              <div class="ss-iframe-container">
                <iframe src="/?chooser=true" frameborder="0" seamless="seamless"></iframe>
                <div class="ss-shadow ss-shadow-bottom"></div>
              </div> <!-- /.ss-iframe-container -->
              <div class="ss-copy-module-dialog-form-container">
                  <input type="hidden" class="form-control" id="ss-module-copy-source-uri" name="source_uri" value="module/the/source/module/uri/123">
                  <div class="form-group">
                    <label id="ss-module-copy-target-name-label" for="ss-module-copy-target-name">New module name</label>
                    <div class="input-group">
                      <div class="input-group-addon"><strong id="ss-module-copy-target-project">module</strong></div>
                      <input type="text" class="form-control" id="ss-module-copy-target-name" name="target_name" placeholder="Required">
                    </div>
                  </div>
                <div class="ss-dialog-footnote text-muted">
                  Please note that the access rights still apply for copied modules.
                </div> <!-- /.ss-save-dialog-footnote -->
              </div> <!-- /.ss-copy-module-dialog-form-container -->
            </div> <!-- /.modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary ss-ok-btn ss-copy-btn">Copy module</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-run-image-dialog">
      Launch demo <code>#ss-run-image-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade ss-run-module-dialog" id="ss-run-image-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-run-image-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form-horizontal ss-run-module-form" role="form">
          <!-- The UI always bypasses the SSH check, i.e. launching a deployment without SSH keys won't fail -->
          <input type="hidden" class="form-control" id="bypass-ssh-check" name="bypass-ssh-check" value="true">
          <input type="hidden" class="form-control" id="ss-run-image-id" name="refqname" value="module/the/source/module/uri/123">
          <input type="hidden" class="form-control" name="type" value="Run">
          <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="ss-run-image-dialog-label"><!-- <span class="glyphicon glyphicon-picture"></span>  -->Run image</h4>
            </div>
            <div class="modal-body">
              <div class="ss-run-image-content">
                blah
              </div>
              <div class="ss-dialog-footnote text-muted">
                This dialog is used only for the run action for images.
              </div> <!-- /.ss-save-dialog-footnote -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary ss-ok-btn ss-build-btn">Build or run image</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-build-image-dialog">
      Launch demo <code>#ss-build-image-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade ss-build-module-dialog" id="ss-build-image-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-build-image-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form-horizontal ss-build-module-form" role="form">
          <!-- The UI always bypasses the SSH check, i.e. launching a deployment without SSH keys won't fail -->
          <input type="hidden" class="form-control" id="bypass-ssh-check" name="bypass-ssh-check" value="true">
          <input type="hidden" class="form-control" id="ss-build-image-id" name="refqname" value="module/the/source/module/uri/123">
          <input type="hidden" class="form-control" name="type" value="Machine">
          <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="ss-build-image-dialog-label"><!-- <span class="glyphicon glyphicon-picture"></span>  -->Build image</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label id="ss-build-image-cloud-label" for="parameter--cloudservice" class="col-sm-3 control-label">Cloud service</label>
                <div class="col-sm-9">
                  <select class="form-control" id="parameter--cloudservice" name="parameter--cloudservice">
                    <option>cloud-1</option>
                    <option>cloud-2</option>
                    <option>cloud-3</option>
                    <option>cloud-4</option>
                    <option>cloud-5</option>
                  </select>
                </div>
              </div>
              <div class="ss-dialog-footnote text-muted">
                This dialog is used only for the build action for images.
              </div> <!-- /.ss-save-dialog-footnote -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary ss-ok-btn ss-build-btn">Build or run image</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-reset-password-dialog">
      Launch demo <code>#ss-reset-password-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade ss-reset-password-dialog" id="ss-reset-password-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-reset-password-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form-horizontal" id="ss-reset-password-form" role="form">
          <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="ss-reset-password-dialog-label"><!-- <span class="glyphicon glyphicon-picture"></span>  -->Reset password</h4>
            </div>
            <div class="modal-body">
              <div class="form-group has-warning">
                <label id="ss-reset-password-username-label" for="ss-reset-password-username" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="ss-reset-password-username" name="username">
                </div>
              </div>
              <div class="ss-dialog-footnote text-muted">
                Dialog to request a password reset.
              </div> <!-- /.ss-save-dialog-footnote -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-warning ss-ok-btn ss-build-btn">Reset password</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-run-deployment-dialog">
      Launch demo <code>#ss-run-deployment-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade ss-run-module-dialog" id="ss-run-deployment-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-run-deployment-dialog-label" aria-hidden="true">
      <!-- <div class="modal-dialog modal-lg"> -->
      <div class="modal-dialog">
        <form class="ss-run-module-form" role="form">
          <!-- The UI always bypasses the SSH check, i.e. launching a deployment without SSH keys won't fail -->
          <input type="hidden" class="form-control" id="bypass-ssh-check" name="bypass-ssh-check" value="true">
          <input type="hidden" class="form-control" id="ss-run-deployment-id" name="refqname" value="module/the/source/module/uri/123">
          <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="ss-run-deployment-dialog-label"><!-- <span class="glyphicon glyphicon-picture"></span>  -->Run deployment</h4>
            </div>
            <div class="modal-body">
              <h4 class="ss-run-deployment-global-section-title">Global deployment parameters</h4>
              <div class="ss-run-deployment-global-section-content">
                Here comes the table with the global parameters.
              </div>
              <hr>
              <h4 class="ss-run-deployment-nodes-section-title">Node parameters</h4>
              <div class="ss-run-deployment-nodes-section-content">
                Here comes the table with the parameters for each node.
              </div>
              <div class="ss-dialog-footnote text-muted">
                This dialog is used to launch deployment and here we might display some contextual help.
              </div> <!-- /.ss-save-dialog-footnote -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary ss-ok-btn ss-build-btn">Run deployment</button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div> <!-- /.container -->

  <div id="bottom-scripts">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="external/jquery/js/jquery-1.11.1.min.js"></script>
    <script src="external/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/request.js"></script>
    <script src="js/modal_dialogs.js"></script>
  </div>

</body>
</html>
