<!DOCTYPE html>
<html>
<head>
  <base href="../">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Modal dialogs</title>
  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/modal_dialogs.css"/>
</head>
<body>

  <div class="container">
    <h1>Modal dialogs</h1>
    <p>
      Other options include:
    </p>

    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Option</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>keyboard  boolean true</code>
          </td>
          <td>Closes the modal when escape key is pressed.</td>
        </tr>
      </tbody>
    </table>
    <p>
      From: <a href="http://getbootstrap.com/javascript/#modals">http://getbootstrap.com/javascript/#modals</a>
    </p>

    <hr>

    <h2><code>#demoModal</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#demoModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            Here comes the text.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <h2><code>#ss-save-dialog</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-save-dialog">
      Launch demo <code>#ss-save-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-save-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-save-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-primary">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-save-dialog-label">Save module changes</h4>
          </div>
          <div class="modal-body">
            <textarea id="ss-commit-message" class="form-control" placeholder="Commit message" rows="3"></textarea>
            <br>
            <div class="ss-dialog-footnote text-muted">
              Hold down <code>ALT</code> when saving to skip this confirmation and the commit message.
            </div> <!-- /.ss-save-dialog-footnote -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-save-btn" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <h2><code>#ss-delete-dialog</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-delete-dialog">
      Launch demo <code>#ss-delete-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-delete-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-delete-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-delete-dialog-label">Delete module</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the module 'example/some/module/name?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger ss-ok-btn ss-delete-btn" data-dismiss="modal">Delete module</button>
          </div>
        </div>
      </div>
    </div>

    <h2><code>#ss-module-chooser-dialog</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-module-chooser-dialog">
      Launch demo <code>#ss-module-chooser-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-module-chooser-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-module-chooser-dialog-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content panel-primary">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-module-chooser-dialog-label">Choose an image</h4>
          </div>
          <div class="modal-body">
            <iframe src="/?chooser=true" style="zoom:0.60" width="100%" height="640px" frameborder="0"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-select-btn" data-dismiss="modal">Select</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-select-exact-version-btn" data-dismiss="modal">Select exact version</button>
          </div>
        </div>
      </div>
    </div>

    <h2><code>#ss-terminate-deployment-dialog</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-terminate-deployment-dialog">
      Launch demo <code>#ss-terminate-deployment-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-terminate-deployment-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-terminate-deployment-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-terminate-deployment-dialog-label">Terminate deployment</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to terminate all virtual machines running in this deployment?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger ss-ok-btn" data-dismiss="modal">Terminate</button>
          </div>
        </div>
      </div>
    </div>


    <h2><code>#ss-publish-module-confirmation-dialog</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-publish-module-confirmation-dialog">
      Launch demo <code>#ss-publish-module-confirmation-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-publish-module-confirmation-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-publish-module-confirmation-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-primary">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-publish-module-confirmation-dialog-label">Publish module</h4>
          </div>
          <div class="modal-body">
            <div class="ss-dialog-body-text">
              Published modules appear in the App Store.
            </div> <!-- /.ss-dialog-body-text -->
            <br>
            <div class="ss-dialog-footnote text-muted">
              Please note that the access rights still apply for published modules.
            </div> <!-- /.ss-save-dialog-footnote -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary ss-ok-btn ss-publish-btn" data-dismiss="modal">Publish module</button>
          </div>
        </div>
      </div>
    </div>

    <h2><code>#ss-unpublish-module-confirmation-dialog</code></h2>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ss-unpublish-module-confirmation-dialog">
      Launch demo <code>#ss-unpublish-module-confirmation-dialog</code> modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ss-unpublish-module-confirmation-dialog" tabindex="-1" role="dialog" aria-labelledby="ss-unpublish-module-confirmation-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="ss-unpublish-module-confirmation-dialog-label">Unpublish module</h4>
          </div>
          <div class="modal-body">
            <div class="ss-dialog-body-text">
              If you unpublish this module it will not be available anymore on the App Store.
            </div> <!-- /.ss-dialog-body-text -->
            <br>
            <div class="ss-dialog-footnote text-muted">
              Please note that the access rights still apply for published modules.
            </div> <!-- /.ss-save-dialog-footnote -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default ss-cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger ss-ok-btn ss-unpublish-btn" data-dismiss="modal">Unpublish module</button>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /.container -->

  <div id="bottom-scripts">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="external/jquery/js/jquery-1.11.1.min.js"></script>
    <script src="external/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/modal_dialogs.js"></script>
  </div>

</body>
</html>
