<!DOCTYPE html>
<html>
<head>
  <base href="../../../../../resources/static_content/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Table Template</title>
  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/table.css"/>
</head>
<body>

  <div class="container">
    <h1>Table Template</h1>
    <p>
      Other options include:
    </p>

    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>.table-condensed</code>
          </td>
          <td>Makes tables with borders on all sides of the table and cells.</td>
        </tr>
        <tr>
          <td>
            <code>.table-striped</code>
          </td>
          <td>Adds zebra-striping to any table row within the <code>tbody</code>.</td>
        </tr>
        <tr>
          <td>
            <code>.table-bordered</code>
          </td>
          <td>Makes tables more compact by cutting cell padding in half.</td>
        </tr>
        <tr>
          <td>
            <code>.active</code>
          </td>
          <td>Applies the hover color to a particular row or cell</td>
        </tr>
        <tr class="success">
          <td>
            <code>.success</code>
          </td>
          <td>Indicates a successful or positive action</td>
        </tr>
        <tr class="info">
          <td>
            <code>.info</code>
          </td>
          <td>Indicates a neutral informative change or action</td>
        </tr>
        <tr class="warning">
          <td>
            <code>.warning</code>
          </td>
          <td>Indicates a warning that might need attention</td>
        </tr>
        <tr class="danger">
          <td>
            <code>.danger</code>
          </td>
          <td>Indicates a dangerous or potentially negative action</td>
        </tr>
        <tr>
          <td class="info">
            <code>.info</code>
          </td>
          <td class="warning">Classes to modify the background color might be applied only to a particular cell.</td>
        </tr>
      </tbody>
    </table>
    <p>
      From: <a href="http://getbootstrap.com/css/#tables">http://getbootstrap.com/css/#tables</a>
    </p>

    <hr>

    <table class="table table-responsive table-hover table-condensed ss-table">
      <thead class="ss-table-head">
        <tr>
          <th>Cell class</th>
          <th>Cell description</th>
          <th>Template cell</th>
        </tr>
      </thead>
      <tbody class="ss-table-body">
        <tr>
          <td><code>.ss-table-cell-text</code></td>
          <td>Text cell</td>
          <td class="ss-table-cell-text">Description...</td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-text-editable</code></td>
          <td>Editable text cell</td>
          <td class="ss-table-cell-text-editable">
            <input type="text" class="form-control" placeholder="Text" value="">
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-positive-integer-editable</code></td>
          <td>Editable number cell for positive integers (by default including 0)</td>
          <td class="ss-table-cell-positive-integer-editable">
            <input type="number" class="form-control" placeholder="Number" value="99" min="0">
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-text-area-editable</code></td>
          <td>Editable text area cell</td>
          <td class="ss-table-cell-text-area-editable">
            <textarea class="form-control" placeholder="Multi-lines text" rows="9"></textarea>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-password-editable</code></td>
          <td>Editable password cell</td>
          <td class="ss-table-cell-password-editable">
            <input type="password" class="form-control" placeholder="Password" name="password">
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-link</code></td>
          <td>Link cell</td>
          <td class="ss-table-cell-link"><a href="#">Some project</a></td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-icon</code></td>
          <td>Icon cell</td>
          <td class="ss-table-cell-icon">
              <span class="glyphicon glyphicon-picture"></span>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-boolean</code></td>
          <td>Boolean cell</td>
          <td class="ss-table-cell-boolean">
            <input type="checkbox" checked="" disabled=""/>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-boolean-editable</code></td>
          <td>Editable boolean cell</td>
          <td class="ss-table-cell-boolean-editable">
            <input type="checkbox" checked=""/>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-module-version</code></td>
          <td>Module version cell</td>
          <td class="ss-table-cell-module-version"><span>999</span> (<a href="#">history</a>)</td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-help-hint</code></td>
          <td>Cell with help hint as tooltip</td>
          <td class="ss-table-cell-help-hint">
              <span class="glyphicon glyphicon-question-sign" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" title="Dismissible popover" data-content="Here comes the longer content. It closes when you click away."></span>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-map</code></td>
          <td>Cell to easily display a dictionary or map</td>
          <td class="ss-table-cell-map">
            <dl class="dl-horizontal">
              <dt>Key 1</dt>
              <dd>value 1</dd>
              <dt>Key 2</dt>
              <dd>looooooooooooooooooooooooooong value 2</dd>
              <dt>Long Key 3</dt>
              <dd>value 3</dd>
              <dt>Looooooooooonger Key 4</dt>
              <dd>value 4</dd>
            </dl>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-map-editable</code></td>
          <td>Cell to easily display and edit a dictionary or map</td>
          <td class="ss-table-cell-map-editable">
            <dl class="dl-horizontal">
              <dt>Key 1</dt>
              <dd><input type="text" class="form-control" placeholder="Text" value="value 1"></dd>
              <dt>Key 2</dt>
              <dd><input type="text" class="form-control" placeholder="Text" value="looooooooooooooooooooooooooong value 2"></dd>
              <dt>Long Key 3</dt>
              <dd><input type="text" class="form-control" placeholder="Text" value="value 3"></dd>
              <dt>Looooooooooonger Key 4</dt>
              <dd><input type="text" class="form-control" placeholder="Text" value="value 4"></dd>
            </dl>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-enum-editable</code></td>
          <td>Enum cell</td>
            <!-- <select multiple="" class="form-control"> -->
          <td class="ss-table-cell-enum-editable">
            <select class="form-control">
              <option value="value1">Value 1</option>
              <option value="value2">Value 2</option>
              <option value="value3">Value 3</option>
              <option value="value4">Value 4</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-reference-module-editable</code></td>
          <td>Reference module cell</td>
          <td class="ss-table-cell-reference-module-editable">
            <div class="input-group">
              <input type="hidden" id="module-reference" name="moduleReference">
              <span class="ss-reference-module-name">
                <a href="module/name/44" class="btn btn-link" target="_blank">module/name/44</a>
              </span>
              <span class="ss-reference-module-chooser-button">
                <button class="btn btn-primary" type="button">Choose reference</button>
              </span>
            </div><!-- /input-group -->
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-inner-table</code></td>
          <td>Cell with inner rows</td>
          <td class="ss-table-cell-inner-table">
            <table class="table table-responsive table-condensed ss-inner-table">
              <tbody>
                <tr>
                  <td>First column</td>
                  <td>Second column</td>
                </tr>
                <tr>
                  <td>First column</td>
                  <td>Second column</td>
                </tr>
                <tr>
                  <td>First column</td>
                  <td>Second column</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-toggle-button-editable</code></td>
          <td>Toggle button to switch between two states.</td>
          <td class="ss-table-cell-toggle-button-editable">
            <button type="button" class="btn btn-primary ss-toggle-btn" data-toggle="button" data-active-text="Selected" aria-pressed="false" autocomplete="off">
              Select
            </button>
          </td>
        </tr>
        <tr>
          <td><code>.ss-table-cell-action-button-editable</code></td>
          <td>Button to launch an action</td>
          <td class="ss-table-cell-action-button-editable">
            <div class="input-group">
              <span class="ss-action-button">
                <button class="btn btn-primary" type="button">Trigger action</button>
              </span>
            </div><!-- /input-group -->
          </td>
        </tr>
          <td><code>.ss-table-cell-pagination</code></td>
          <td>Pagination cell</td>
          <td class="ss-table-cell-pagination text-muted">
              <div class="row">
                <div class="col-sm-2 text-left">
                  <span class="ss-pagination-msg" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Showing items from x to y from z.">x - y of z</span>
                </div>
                <div class="col-sm-10 text-right">
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-xs" role="group">
                      <button type="button" class="btn btn-default ss-pagination-previous ss-pagination-action">
                        <span class="glyphicon glyphicon-menu-left"></span>
                      </button>
                      <button type="button" class="btn btn-default ss-pagination-next ss-pagination-action">
                        <span class="glyphicon glyphicon-menu-right"></span>
                      </button>
                    </div>
                    <div class="btn-group btn-group-xs ss-pagination-buttons" role="group">
                      <button type="button" class="btn btn-default ss-pagination-action">1</button>
                      <button type="button" class="btn btn-default ss-pagination-action">2</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">3</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">4</button>
                      <button type="button" class="btn btn-default ss-pagination-separator-btn">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                      </button>
                      <button type="button" class="btn btn-default ss-pagination-action">5</button>
                      <button type="button" class="btn btn-default ss-pagination-action">6</button>
                      <button type="button" class="btn btn-default disabled ss-pagination-current-page">7</button>
                      <button type="button" class="btn btn-default ss-pagination-action">8</button>
                      <button type="button" class="btn btn-default ss-pagination-action">9</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">10</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">11</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">12</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">13</button>
                      <button type="button" class="btn btn-default ss-pagination-action hidden">14</button>
                      <button type="button" class="btn btn-default ss-pagination-separator-btn">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                      </button>
                      <button type="button" class="btn btn-default ss-pagination-action">15</button>
                      <button type="button" class="btn btn-default ss-pagination-action">16</button>
                    </div>
                    <div class="btn-group btn-group-xs" role="group">
                      <button type="button" class="btn btn-default ss-pagination-previous ss-pagination-action">
                        <span class="glyphicon glyphicon-menu-left"></span>
                      </button>
                      <button type="button" class="btn btn-default ss-pagination-next ss-pagination-action">
                        <span class="glyphicon glyphicon-menu-right"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <span class="ss-pagination-action ss-pagination-all"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- /.container -->

  <div id="bottom-scripts">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="external/jquery/js/jquery-1.11.1.min.js"></script>
    <script src="external/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/table.js"></script>
  </div>

</body>
</html>
