<!DOCTYPE html>
<html>
<head>
    <title>Dashboard template</title>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css"/>
</head>
<body>
    This template is only to contain the CSS and JS files to be included in the dashboard page.
    <div id="bottom-scripts">
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- External JavaScript libraries -->
        <script src="external/jquery-flot/js/jquery.flot.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.pie.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.time.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.stack.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.tooltip.min.js"></script>
        <script src="external/jquery-flot/js/jquery.flot.resize.min.js"></script>
        <script src="external/justgage/js/raphael.2.1.0.min.js"></script>
        <script src="external/justgage/js/justgage.1.0.1.min.js"></script>
        <!-- Internal JavaScript scripts -->
        <script src="js/metering.js"></script>
        <script src="js/dashboard.js"></script>
    </div>
</body>
</html>