<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <title>SlipStream | Documentation</title>

    <link rel="stylesheet" type="text/css" href="css/application.css" />

    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="top">
				<a href="/" class="logo"></a>
          
                <div class="menu_bar">
                    <ul>
                        <li class="first"><a href="#"><i class="icon-home icon-2x"></i></a></li>
                        <li class="first"><a href="#"><i class="icon-info-sign icon-2x"></i></a></li>
                        <li class="first"><a href="#"><i class="icon-bar-chart icon-2x"></i></a></li>
                        <li><a id="user" href="#">Joe <i class="icon-user icon-2x"></i></a></li>
                        <li class="first"><a class="action" href="#"><i class="icon-signout icon-2x"></i></a></li>
                    </ul>
                </div>
            </div>

        <div class="bottom bottom_no_icon">
	  <h2><i class="icon-info-sign"></i> Documentation</h2>
	  <h3>SlipStream technical documentation at a glance</h3>
	  <p>Information to help you get up to speed and improve your knowledge
	    of SlipStream.  Learn tips, tricks, and troubleshooting techniques.</p>
        </div> 
      </div>

      <div id="content">
        <div class="navigation">
	  <ul class="breadcrumb">
	    <li><a href="/"><i class="icon-home"></i></a></li>
	    <li><a>Documentation</a></li>
	  </ul>
        </div>
        <div class="data_sheet">
	  <div class="summary accordion">
	    <h3>Documents<span></span></h3>
	    <div>
	      <table>
	        <tbody>
      		  <tr>
      		    <td>User Guide and Tutorial</td>
      		    <td><a href="/html/tutorial.html">html</a></td>
      		    <td><a href="/pdf/tutorial.pdf">pdf</a></td>
      		    <td><a href="/epub/tutorial.epub">epub</a></td>
      		  </tr>
      		  <tr>
      		    <td>Administrator Guide</td>
      		    <td><a href="/html/administrator-manual.html">html</a></td>
      		    <td><a href="/pdf/administrator-manual.pdf">pdf</a></td>
      		    <td><a href="/epub/administrator-manual.epub">epub</a></td>
      		  </tr>
      		  <tr>
      		    <td>Terms of Service</td>
      		    <td><a href="/html/terms-of-service.html">html</a></td>
      		    <td><a href="/pdf/terms-of-service.pdf">pdf</a></td>
      		    <td><a href="/epub/terms-of-service.epub">epub</a></td>
      		  </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
        </div>
      </div>
      
      <div id="footer">
        <div class="footer_inner">
          <div class="sixsq_logo"><a href="http://sixsq.com"></a></div>
	  <div class="copyright">Copyright &copy; 2008-2013 SixSq S&agrave;rl | 1.0-772</div>
	  <div class="swiss_made"><a href="http://swissmadesoftware.org"></a></div>
        </div>
      </div>

    </div>
  </body>

</html>
