<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">

  <title>404 Error Template</title>

  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css" />

  <!-- Internal CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/error.css" />

</head>


<body>
  <div id="header" class="jumbotron">
    <div class="container">
      <div id="header-content">
        <div class="row">
          <div class="col-sm-1 text-right hidden-xs">
            <h1 class="error-header">
              <span class="glyphicon glyphicon-remove"></span>
            </h1>
          </div> <!-- /col -->
          <div class="col-sm-11 text-left">
            <div class="container">
              <h1 class="error-header">
                Error
                <span id="status-code">404</span>
                -
                <span id="error-title">Oups!</span>
              </h1>
              <p id="error-msg">
                We are affraid, we cannot show you the content you requested. But dont
                worry, we stopped to play ping-pong to go straight to look into what
                happened!
              </p>
            </div> <!-- /.container -->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div><!--/#header-content -->
    </div>
  </div><!--/#header -->
</body>
</html>
