<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>SlipStream</title>
    <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
  </head>
  <body>
    <div style="min-height: 500px; background-color: grey;" class="text-center">
      This is an example of page content with 500px of height.
    </div>
    <div id="footer" class="footer">
      <div class="container">
        <div class="row text-muted">
          <div class="col-xs-6 col-sm-4 text-left">
            Copyright &copy; 2014 <a href="http://sixsq.com">SixSq</a>
          </div>
          <div class="col-sm-4 text-center hidden-xs">
            <a href="http://swissmadesoftware.org"><img src="images/logo_swiss_made_software.png"></a>
          </div>
          <div class="col-xs-6 col-sm-4 text-right">
            <span class="hidden-xs">Powered by </span>SlipStream&nbsp;&reg;&nbsp;&nbsp;v<span id="release-version">0.0.0</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
