<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title id="title">SlipStream | Login</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/application.css" />
    <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="to-be-replaced" />

	<script src="/external/jquery/js/jquery.js"></script>
	<script src="/external/jquery/js/jquery.cookie.js"></script>
	<script src="/external/jquery-ui/js/jquery-ui.js"></script>
	<script src="/js/common.js"></script>
	<script src="to-be-replaced"></script>
</head>
<body>
	<!--[if lt IE 9 ]>
		<div id="warning-bar" >
			<i class="icon-warning-sign"> </i>Your version of Internet Explorer is not supported. Please use IE 10 or higher.
		</div>
	<![endif]-->
	<div id="wrapper">
		<div id="header">Header</div>
		<div id="content">Content</div>
	</div>
	<div id="footer">Footer</div>
	<!-- Include ClojureScript foundation -->
    <script type="text/javascript" src="js/goog/base.js"></script>
    <script type="text/javascript" src="js/slipstream.js"></script>
    <script type="text/javascript">goog.require('slipstream.ui.client.core');</script>
</body>
</html>
