<!DOCTYPE html>
<html>
<head>
    <title>Run template</title>
    <!-- External CSS Stylesheets -->
    <!-- <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" type="text/css" href="css/run.css"/>
</head>
<body>
    This template is only to contain the CSS and JS files to be included in the run page.
    <div id="bottom-scripts">
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="external/jit/js/jit.js"></script>
        <script src="js/run.js"></script>
        <script src="js/run_overview.js"></script>
    </div>
</body>
</html>