<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Section Template</title>

  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>

  <!-- Internal CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/section.css"/>
</head>
<body>

  <div class="container">
    <h1>Section Template</h1>
    <p>
      Currently, sections are implemented as accordions. However, this template offers an
      abstraction as a section, so that the underlying layout can be changed without modifiyng
      the enlive code.
    </p>
        <p>
      Other options include:
    </p>

    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>.in</code>
          </td>
          <td>Add <code>.in</code> to the <code>div.panel-collapse</code> to open it by default.</td>
        </tr>
        <tr class="info">
          <td>
            <code>.ss-section-info</code>
          </td>
          <td>Add <code>.panel-info</code> to the <code>div.panel</code> of the section.</td>
        </tr>
        <tr class="danger">
          <td>
            <code>.ss-section-danger</code>
          </td>
          <td>Add <code>.panel-danger</code> to the <code>div.panel</code> of the section.</td>
        </tr>
        <tr class="warning">
          <td>
            <code>.ss-section-warning</code>
          </td>
          <td>Add <code>.panel-warning</code> to the <code>div.panel</code> of the section.</td>
        </tr>
        <tr class="success">
          <td>
            <code>.ss-section-success</code>
          </td>
          <td>Add <code>.panel-success</code> to the <code>div.panel</code> of the section.</td>
        </tr>
      </tbody>
    </table>
    <p>
      From: <a href="http://getbootstrap.com/javascript/#collapse">http://getbootstrap.com/javascript/#collapse</a>
    </p>

    <hr>

    <div id="ss-section-group" class="panel-group">
      <div class="panel panel-default ss-section">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#ss-section-group" href="#ss-section">
              <span class="row">
                <span class="col-xs-10 ss-section-title">
                  Collapsible Group Item
                </span> <!-- /col -->
                <span class="col-xs-2 text-right">
                  <span class="glyphicon glyphicon-chevron-up"></span>
                </span> <!-- /col -->
              </span> <!-- /row -->
            </a>
          </h4>
        </div>
        <div id="ss-section" class="panel-collapse collapse">
          <div class="panel-body ss-section-content">
            content
          </div>
        </div>
      </div><!--/.panel-default -->
    </div><!--/.panel-group -->
  </div><!--/.container -->

  <div id="bottom-scripts">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="external/jquery/js/jquery-1.11.1.min.js"></script>
    <script src="external/bootstrap/js/bootstrap.min.js"></script>
    <script>
    jQuery(function() {

      // Open panel of selected section

      $(".panel.ss-section-selected .panel-collapse.collapse")
        .removeClass("in")
        .addClass("in")

      // Ensure correct chevrons at page load depending on open/close state

      $(".panel .panel-collapse.collapse.in")
        .parent()
        .find(".panel-title .glyphicon-chevron-down")
        .removeClass("glyphicon-chevron-down")
        .addClass("glyphicon-chevron-up")

      $(".panel .panel-collapse.collapse:not(.in)")
        .parent()
        .find(".panel-title .glyphicon-chevron-up")
        .removeClass("glyphicon-chevron-up")
        .addClass("glyphicon-chevron-down")

      // Ensure correct chevrons when opening/closing the sections

      $(".panel-collapse.collapse").on("show.bs.collapse", function (e) {
        var chevron_sel = ".panel-title a[href='#" + e.delegateTarget.id + "'] .glyphicon";
        $(chevron_sel).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
      });

      $(".panel-collapse.collapse").on("hide.bs.collapse", function (e) {
        var chevron_sel = ".panel-title a[href='#" + e.delegateTarget.id + "'] .glyphicon";
        $(chevron_sel).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
      });

      // Update .ss-panel-{info,danger,warning,success} to Bootstrap classes
      $("div.panel.ss-section-info")
        .removeClass("panel-default")
        .addClass("panel-info")
      $("div.panel.ss-section-danger")
        .removeClass("panel-defaulter")
        .addClass("panel-danger")
      $("div.panel.ss-section-warning")
        .removeClass("panel-defaulting")
        .addClass("panel-warning")
      $("div.panel.ss-section-success")
        .removeClass("panel-defaultess")
        .addClass("panel-success")

    });
    </script>
  </div>
</body>
</html>
