                        <div id="vms" class="tab_block">
    	                    <ul class="tabs inner_tabs">
                                <li><a href="#fragment-vms-somecloud">CloudA</a><span></span></li>
                                <li><a href="#fragment-vms-cloudb">CloudB</a><span></span></li>
    	                    </ul>
    	                    <div id="fragment-vms-somecloud">
    	                        <table>
    		                        <thead>
    		                            <tr>
                                            <th>SlipStream Id</th>
                                            <th>State</th>
                                            <th>User</th>
                                            <th>Cloud Instance Id</th>
    		                            </tr>
    		                        </thead>
    		                        <tbody>
    		                            <tr>
                                            <td>
                                                <a href="">id-123</a>
                                            </td>
                                            <td>Running</td>
                                            <td>Joe</td>
                                            <td>ami-123456</td>
    		                            </tr>
    		                        </tbody>
    		                    </table>
                            </div>
    	                    <div id="fragment-vms-cloudb">
    	                        <table>
    		                        <thead>
    		                            <tr>
                                            <th>SlipStream Id</th>
                                            <th>State</th>
                                            <th>User</th>
                                            <th>Cloud Instance Id</th>
    		                            </tr>
    		                        </thead>
    		                        <tbody>
    		                            <tr>
                                            <td>
                                                <a href="">id-123</a>
                                            </td>
                                            <td>Running</td>
                                            <td>Jayne</td>
                                            <td>ami-123456</td>
    		                            </tr>
    		                        </tbody>
    		                    </table>
                            </div>
                        </div>
