<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Welcome Template</title>

  <!-- External CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="external/bootstrap/css/bootstrap.min.css"/>

  <!-- Internal CSS Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/welcome.css"/>
</head>
<body>
  <div id="header" class="jumbotron">
    <div class="container">
      <h1>
        <span class="glyphicon glyphicon-home"></span>
        Welcome to SlipStream
      </h1>
      <p>
        The welcome page provides you with all currently published modules and root modules, including yours and the ones shared with you.
      </p>
    </div>
  </div>

  <div id="content" class="container">
  </div> <!--/#content --> <!-- /.container -->

</body>
</html>
