<a href='#'>link<div>block element</div></a>
<a href='#'>link<span>inline element</span></a>


;; Clojure 1.5.1
(require '[net.cgrand.enlive-html :as html])
;; => nil
(html/html-resource (java.io.StringReader. "<a href='#'>link<div>block element</div></a>"))
;; => ({:tag :html, :attrs nil, :content ({:tag :body, :attrs nil, :content ({:tag :a, :attrs {:href "#"}, :content ("link")} {:tag :div, :attrs nil, :content ("block element")})})})
(html/html-resource (java.io.StringReader. "<a href='#'>link<span>inline element</span></a>"))
;; => ({:tag :html, :attrs nil, :content ({:tag :body, :attrs nil, :content ({:tag :a, :attrs {:href "#"}, :content ("link" {:tag :span, :attrs nil, :content ("inline element")})})})})



As discussed in [this SO question](http://stackoverflow.com/a/1828032), [HTML 5](http://www.w3.org/TR/html5/text-level-semantics.html#the-a-element) states that

> the `<a>` element may be wrapped around entire paragraphs, lists, tables, and so forth, even entire sections, so long as there is no interactive content within (e.g. buttons or other links).

However, `enlive` puts block content outside (i.e. after) the `<a></a>` element. Here is a [MWE](http://www.minimalbeispiel.de/mini-en.html#x1-30002):

```clojure
;; Clojure 1.5.1
(require '[net.cgrand.enlive-html :as html])
;; => nil
(html/html-resource (java.io.StringReader. "<a href='#'>link<div>block element</div></a>"))
;; => ({:tag :html, :attrs nil, :content ({:tag :body, :attrs nil, :content ({:tag :a, :attrs {:href "#"}, :content ("link")} {:tag :div, :attrs nil, :content ("block element")})})})
(html/html-resource (java.io.StringReader. "<a href='#'>link<span>inline element</span></a>"))
;; => ({:tag :html, :attrs nil, :content ({:tag :body, :attrs nil, :content ({:tag :a, :attrs {:href "#"}, :content ("link" {:tag :span, :attrs nil, :content ("inline element")})})})})
```

Is that the intended behaviour?

I haven't found spe


(require '[net.cgrand.tagsoup :as t])
;; => nil
(t/parser (java.io.StringReader. "<a href='#'>link<span>inline element</span></a>"))
;; => ({:tag :html, :attrs nil, :content ({:tag :body, :attrs nil, :content ({:tag :a, :attrs {:href "#"}, :content ("link" {:tag :span, :attrs nil, :content ("inline element")})})})})
(t/parser (java.io.StringReader. "<a href='#'>link<div>block element</div></a>"))
;; => ({:tag :html, :attrs nil, :content ({:tag :body, :attrs nil, :content ({:tag :a, :attrs {:href "#"}, :content ("link")} {:tag :div, :attrs nil, :content ("block element")})})})