.thumbnail .ss-app-thumbnail-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  background-color: #eee;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/app_image_placeholder.png");
  background-position: center center;
}

.thumbnail:hover {
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}

/* Button */

.thumbnail .ss-app-thumbnail-container .btn {
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  margin: 5%;
  right: 0;
}

.thumbnail:hover .ss-app-thumbnail-container .btn {
  opacity: 1;
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}

.thumbnail .ss-app-thumbnail-container .btn:empty::before {
  content: "Deploy";
}


/* App name and version defaults */

.thumbnail a .ss-app-name:empty::before {
  content: "Application";
}

.thumbnail a.ss-app-name-container {
  color: inherit;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

.thumbnail a:hover.ss-app-name-container {
  color: inherit;
  text-decoration: inherit;
}

.thumbnail a.ss-app-name-container .glyphicon {
  opacity: 0.1;
}

.thumbnail a:hover.ss-app-name-container .glyphicon {
  opacity: 1;
}

.thumbnail .caption hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* App version defaults */

.thumbnail .ss-app-version-number-container::before {
  content: "v";
}

.thumbnail .ss-app-version-number-container .ss-app-version-number:empty::before {
  content: "0";
}

.thumbnail .ss-app-version-number-container {
  color: #777;
  font-weight: normal;
}

.thumbnail .caption .h4 {
  margin-top: 5px;
}


/* Metadata Labels and defaults */

.thumbnail .ss-app-price {
  /* Hide price for the moment */
  display: none;
}

.thumbnail dt.ss-app-price:empty::before {
  content: "Price";
}

.thumbnail dd.ss-app-price:empty::before {
  content: "free";
  color: white;
  background-color: #5cb85c;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail dt.ss-app-publisher:empty::before {
  content: "Publisher";
}

.thumbnail dd.ss-app-publisher:empty::before {
  content: "(unkown)";
}

.thumbnail dt.ss-app-description:empty::before {
  content: "Description";
}

.thumbnail dd.ss-app-description:empty::before {
  content: "(unkown)";
}

.thumbnail dt.ss-app-publication-date:empty::before {
  content: "Date";
}

.thumbnail dd.ss-app-publication-date:empty::before {
  content: "(unkown)";
}


/* Application metadata box size */

.thumbnail div.caption dl {
  margin: 0;
}

.thumbnail div.caption dt {
  width: 80px;
  text-align: left;
  clear: left;
  float: left;
}

.thumbnail div.caption dd {
  margin-left: 90px;
  text-overflow:ellipsis;
  overflow: hidden;
}

.thumbnail .ss-app-metadata-container {
  overflow: hidden;
  width: 100%;
  height: 80px;
}

@media (max-width: 767px) {
  .thumbnail .ss-app-metadata-container {
    height: auto;
  }
}

/* Decorator labels */

.thumbnail .ss-label-decorator {
  background-color: #999;
  color: white;
  text-align: center;
  position: absolute;
  width: 180px;
  font-size: 16px;
  margin-top: 18px;
  margin-left: -50px;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  -moz-box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
  box-shadow: 0 0 6px 2px rgba(80,80,80,.5);
}

.thumbnail .ss-label-decorator-new {
  background-color: #5cb85c;
}

.thumbnail .ss-label-decorator-new:empty::before {
  content: "New";
}

.thumbnail .ss-label-decorator-updated {
  background-color: #3071a9;
}

.thumbnail .ss-label-decorator-updated:empty::before {
  content: "Updated";
}

