noscript {
  color: #DE5058;
}

.jumbotron {
  background-color: #262626;
  color: white;
  min-height: 150px;
  padding: 0px;
  margin: 0;
}

.jumbotron .ss-header h1 {
  color: #50a7de;
}

.jumbotron .ss-header h1 .glyphicon {
  font-size: 0.6em;
}

.jumbotron p {
  margin-bottom: 5px;
}

.ss-run-state {
    font-size: 1em !important;
}

.ss-header-second-subtitle {
  font-size: 1.1em !important;
}

.ss-header-title-col {
  padding-bottom: 20px;
}

.ss-header-title-col h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron h1 span {
  font-size: 0.8em;
}

/* Header Error Status code hidden if not error page */

.jumbotron .ss-header .ss-header-error-status-code {
  display: none;
}

/* Header title default message */

.jumbotron .ss-header .ss-header-title:empty::before {
  content: "Welcome to SlipStream";
}

.jumbotron .ss-header .ss-header-subtitle:empty::before {
  content: "Your way to multi-cloud deployments.";
}

/* Header icon defaults */

.jumbotron .ss-header .ss-header-icon-error {
  display: none;
}

.jumbotron .ss-header .ss-header-icon {
  display:  inline-block;
}

/* Right-hand header image */

#header img.ss-image-preloader {
  display: none;
}

#header .ss-header-image-container {
  position: relative;
  margin: 0%;
  width: 95%;
  padding-bottom: 131px;
  height: 0;
  overflow: hidden;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/header_image_placeholder.png");
  background-position: center center;

}

#header .ss-header-image-col {
  padding: 20px;
}

/* Big computer screen (lg) */
/*
@media (min-width: 1200px) {
}
*/

/* Small computer screen (md) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Tablet (sm) */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Phone (xs) */
@media (max-width: 767px) {
    #header .ss-header-image-container {
        padding-bottom: 80px;
    }
    
    #header .ss-header-image-col {
        padding-top: 0px;
    }
}

