.jumbotron {
  background-color: #262626;
  color: white;
  min-height: 150px;
  padding-top: 35px;
  margin: 0;
}

.jumbotron .ss-header h1 {
  color: #50a7de;
}

.jumbotron .ss-header.ss-header-error h1 {
  color: rgb(170,0,0);
}

.jumbotron .ss-header h1 .glyphicon {
  font-size: 50px;
}

.jumbotron .ss-header.ss-header-error .ss-header-error-prefix {
  display: none;
}