.jumbotron {
  background-color: #262626;
  color: white;
  min-height: 150px;
  padding-top: 35px;
  margin: 0;
}

.jumbotron .ss-header h1 {
  color: #50a7de;
}

.jumbotron .ss-header h1 .glyphicon {
  font-size: 50px;
}

/* Header Error Status code hidden if not error page */

.jumbotron .ss-header .ss-header-error-status-code {
  display: none;
}

/* Header title default message */

.jumbotron .ss-header .ss-header-title:empty::before {
  content: "Welcome to SlipStream";
}

.jumbotron .ss-header .ss-header-subtitle:empty::before {
  content: "Your way to multi-cloud deployments.";
}

/* Header icon defaults */

.jumbotron .ss-header .ss-header-icon-error {
  display: none;
}

.jumbotron .ss-header .ss-header-icon {
  display:  inline-block;
}

/* Right-hand header image */

#header img.ss-image-preloader {
  display: none;
}

#header .ss-header-image-container {
  position: relative;
  margin: 2.5%;
  width: 95%;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/header_image_placeholder.png");
  background-position: center center;

}

#header .ss-header-image-col {
  margin-top: 15px;
  padding: 10px;
}

/* Big computer screen (lg) */
/*
@media (min-width: 1200px) {
}
*/

/* Small computer screen (md) */
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron {
    padding-bottom: 25px;
  }
  #header .ss-header-image-col {
    margin-top: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 10px;
  }
  #header .ss-header-image-container {
    padding-bottom: 80%;
  }
}

/* Tablet (sm) */
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    padding-bottom: 25px;
  }
  #header .ss-header-image-col {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 10px;
  }
  #header .ss-header-image-container {
    padding-bottom: 90%;
  }
}

/* Phone (xs) */
@media (max-width: 767px) {
  #header .ss-header-image-col {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 25px;
  }
  #header .ss-header-image-container {
    width: 100%;
    padding-bottom: 40%;
  }
}

