body > .navbar {
  opacity: 0.98;
  background: none;
}

body > .navbar-default,
body > .navbar-default .menubar {
  border: none;
}

body > .navbar .ss-menubar-unlogged,
body > .navbar .ss-menubar-logged-in {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

body > .navbar .ss-menubar-unlogged {
  background-color: white;
  border-bottom-color: white;
}


body > .navbar .ss-menubar-logged-in {
  color: white;
  background-color: #a00;
  border-bottom-color: #700;
}

.ss-menubar-logged-in .navbar-nav li > a,
.ss-menubar-logged-in .navbar-nav .open a,
.ss-menubar-logged-in .navbar-nav .open .dropdown-menu > li > a {
  color: inherit;
  background-color: transparent;
}

.ss-menubar-logged-in .dropdown-menu {
  background-color: #a00;
}

.ss-menubar-logged-in .navbar-nav li > a:hover,
.ss-menubar-logged-in .navbar-nav li > a:focus,
.ss-menubar-logged-in .navbar-nav li > a:active,
.ss-menubar-logged-in .navbar-nav .open .dropdown-menu > li > a:hover,
.ss-menubar-logged-in .navbar-nav .open .dropdown-menu > li > a:focus,
.ss-menubar-logged-in .navbar-nav .open .dropdown-menu > li > a:active {
  color: inherit;
  background-color: #950000;
}

/* Menu toggle toggle button */

.ss-menubar-logged-in .navbar-toggle {
  border-color: white;
  background-color: transparent;
}

.ss-menubar-logged-in .navbar-toggle .icon-bar {
  background-color: white;
}

.ss-menubar-logged-in .navbar-toggle:hover,
.ss-menubar-logged-in .navbar-toggle:focus {
  background-color: #950000;
}

.ss-menubar-logged-in .navbar-nav li > a:active {
  color: inherit;
  background-color: #800;
  -webkit-box-shadow: inset 0 0 8px 6px #700000;
  -moz-box-shadow: inset 0 0 8px 6px #700000;
  box-shadow: inset 0 0 8px 6px #700000;
}

/* Pushed down effet on other than mobile (!xs) */

@media (min-width: 767px) {
  .ss-menubar-logged-in .navbar-nav li.open > a,
  .ss-menubar-logged-in .navbar-nav li.open > a:hover,
  .ss-menubar-logged-in .navbar-nav li.open > a:focus {
    color: inherit;
    background-color: #800;
    -webkit-box-shadow: inset 0 0 8px 6px #700000;
    -moz-box-shadow: inset 0 0 8px 6px #700000;
    box-shadow: inset 0 0 8px 6px #700000;
  }
}

/* Pushed down effet on mobile (xs) */

@media (max-width: 767px) {

  .ss-menubar-logged-in .navbar-nav li.dropdown.open {
    color: inherit;
    background-color: #800;
    -webkit-box-shadow: inset 0 0 8px 6px #700000;
    -moz-box-shadow: inset 0 0 8px 6px #700000;
    box-shadow: inset 0 0 8px 6px #700000;
  }

  .ss-menubar-logged-in .navbar-nav li.open > a,
  .ss-menubar-logged-in .navbar-nav li.open > a:hover,
  .ss-menubar-logged-in .navbar-nav li.open > a:focus {
    color: inherit;
    background-color: transparent;
  }

  .ss-menubar-logged-in .navbar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #700;
  }

  .ss-menubar-logged-in .navbar-nav > .dropdown > .dropdown-menu > li > a:active {
    background-color: #500000;
    -webkit-box-shadow: inset 0 0 8px 6px #600000;
    -moz-box-shadow: inset 0 0 8px 6px #600000;
    box-shadow: inset 0 0 8px 6px #600000;
  }

}

@media (min-width: 768px) {
  .navbar .container .navbar-brand {
    margin-left: -15px;
  }
}

/* Adjusting left side caret with the secondary menu caret */

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
